[2020-12-17 14:53] anandbaburajan opened #4 "Best practices TODO"
### Code
* [ ] Proper readable and maintable code with consistent spacing and indentation
* [ ] Functions follow the "Do One Thing" rule (single-responsibility)
* [ ] Followed DRY (Don’t Repeat Yourself)
* [ ] Added comments wherever required
* [ ] Proper naming conventions
* [ ] Avoided deep nesting

### Readme
* [x] Badges (similar to the Gitter badge. You can maybe use: https://shields.io/)
* [

[2020-12-24 07:08] ankitapuri opened #6 "To redirect the canvas"
### When the user clicks the submit button the canvas should be drawn on the next page .

* [ ] Make the main page more cleaner
* [ ] The size of main canvas needs to be increased

[2020-12-24 07:10] ankitapuri opened #7 "Background of main-page"
Beautify the background of main page using particle js-effects .
Reference : https://codepen.io/natewiley/pen/GgONKy

[2020-12-24 17:03] BharatiSukanya commented on #7
@ankitapuri Can I work on this issue?

[2020-12-24 17:33] ankitapuri commented on #7
sure!

[2020-12-26 03:48] AmalChandru commented on #6
Can I work on this issue?

[2020-12-26 06:40] ankitapuri commented on #6
sure you can

[2020-12-27 14:14] AmalChandru commented on #6
Hai, I have been trying to pass user input variables between webpages (the main page where we take user input & canvas page) via `sessionStorage / localStorage`. Is there any efficient method available for the above issue?

[2020-12-27 15:53] ankitapuri commented on #6
Hi Please join the Gitter chat , so that we can take certain suggestions from mentors as well and get this issue resolved asap

[2020-12-29 15:03] Harshit850 commented on #7
I would love to suggest you a beautiful background, May I?

[2020-12-29 15:07] BharatiSukanya commented on #7
@Harshit850 Sure , go ahead.

[2020-12-29 17:53] Harshit850 commented on #7
Done @BharatiSukanya

[2021-02-26 17:27] iamkrati22 commented on #7
Is this issue still open? If yes, can I work on this as a part of gssoc'21? :)

[2021-03-03 15:39] ankitapuri opened #16 "Grid not displaying on clicking submit"
The grid is not displayed when we click submit button .

[2021-03-05 04:13] DharmikPansuriya commented on #16
Hello @ankitapuri,
Can you please elaborate on this issue? As, Grid is displayed in my local system, after clicking submit button!

[2021-03-05 05:46] ankitapuri commented on #16
Its displaying even in my local machine but when I deploy it online then its not working .

[2021-03-08 12:14] Nikhita28 commented on #7
I would like to work on this as a part of GSSoC '21 if the issue is still open

[2021-03-08 14:01] ankitapuri commented on #7
Sure you can .

[2021-03-08 14:46] ankitapuri opened #17 "To create a login page for users"
It will be divided in 3 parts :
- header (which will contain the name of the project and toggle button for light n dark mode )
- main body ( where the user will have the option to signup/sign in using the mail address and password )
- footer (mentioning made with love)

[2021-03-08 15:03] deek121477 commented on #17
Hey, I would love to contribute to this issue . Could you plz assign me?

[2021-03-08 19:22] micksharma commented on #17
Can I work on this issue ?

[2021-03-08 19:22] micksharma commented on #16
Can I work on this issue ?

[2021-03-08 19:36] Pratibha-Rawat commented on #17
Hey! Can you please assign me this issue? I am a participant at GSSOC'21.

[2021-03-08 19:53] micksharma commented on #4
Can I work on this issue as a GSSOC 2021 participant.

[2021-03-08 20:14] shairanshrawat commented on #17
I am a participant in GSSOC 2021. I want to contribute to this issue and work on the same. Please could you assign me this issue as a part of GSSOC 2021.
Thank you.

[2021-03-09 03:39] sahildotexe commented on #7
Hey !! I 'm a participant of GSSOC'21, can you assign this issue to me?

[2021-03-09 03:42] ankitapuri commented on #17
@deek121477 you can work on header part
@Pratibha-Rawat you can work on body
@shairanshrawat you can work on footer
you all can co-ordinate with each other accordingly , and before starting let's discuss in discord once .

[2021-03-09 03:53] ankitapuri commented on #7
@Nikhita28 and @sahildotexe you both can co-ordinate together and make a PR accordingly .

[2021-03-09 05:10] sahildotexe commented on #7
Ok sure

[2021-03-09 05:21] machine-sg commented on #17
I am a GSSOC'21 participant and I wish to work on this. Hope to hear back from you .
The page will be divided in 3 parts
1) Header with navbar
2) Main body
3) Footer
Thank you .

[2021-03-09 05:21] machine-sg commented on #7
I am a GSSOC'21 participant and I wish to work on this.  Hope to hear back from you .
Thank you .

[2021-03-09 05:43] shairanshrawat commented on #17
hey @ankitapuri
in the discord server they haven't made a separate channel for  pixelvibe...just wanted to know how we will discuss on discord

[2021-03-09 06:12] Nikhita28 commented on #7
@sahildotexe where can we discuss this?
https://www.linkedin.com/in/v-nikhita-5463701ba/ This is my LinkedIn. Maybe we could have a discussion over there.

[2021-03-09 06:26] sahildotexe commented on #7
Yeah will Ping you there

[2021-03-09 08:58] Abhishek765 commented on #17
Hi, I want to contribute One thing Are you using Normal HTML, CSS, or any frameworks for that??

[2021-03-09 10:43] gnikita432 opened #18 "Change the font-family and styling the input boxes"
enhancing its styling by changing the font-family and styling the input boxes(like increasing some width and adding shadows and radius)
![i1](https://user-images.githubusercontent.com/61223163/110458563-ea38d980-80f1-11eb-8d11-7bb45fb63ffb.PNG)
![i2](https://user-images.githubusercontent.com/61223163/110458585-f02eba80-80f1-11eb-8a57-c42831606fb4.PNG)
I am a GSSOC'21 participant. Please assign me

[2021-03-09 10:56] kanak22 opened #19 "Add a pull request template"
I would like to add a Contributing.md to this project as a part of GGSOC'21. Kindly assign it to me.

[2021-03-09 11:12] Siddharth1006 commented on #18
I am GSSOC21 participant. I am interested on working on this issue.

[2021-03-09 11:13] ankitapuri commented on #17
I will be creating new issues soon u can check them out

[2021-03-09 11:14] ankitapuri commented on #17
They will soon set it up because that's the only place where we can discuss .

[2021-03-09 12:21] Fab-Gaurav commented on #4
@AnandBaburajan  as a participant of GSSOC'21 can I work on this issue.

[2021-03-09 12:25] anandbaburajan commented on #4
Hi @Fab-Gaurav and @micksharma! This issue is simply to track the best practices and would be taken care by @ankitapuri (the project admin). @ankitapuri please put the `gssoc21` labels for issues eligible for GSSoC participants. :D

[2021-03-09 12:58] Aarti002 commented on #17
hello  @ankitapuri  i'm a GSSoC participant can i work on this issue?

[2021-03-09 12:59] Aarti002 commented on #17
or any similer type of issue related to frontend work  i'm ok with that too.

[2021-03-09 13:01] Aarti002 commented on #7
Hey  @ankitapuri can i work on this issue if it is not done yet, as a GSSoC participant.

[2021-03-09 15:42] ankitapuri commented on #4
Sure , I'll do it .

[2021-03-09 16:11] anandbaburajan commented on #4
@ankitapuri the labels need to be exactly `gssoc21` if I understood correctly from their instructions at Discord. Please check.

[2021-03-09 17:09] avinal commented on #19
Hello @kanak22, we feel that Contributing.md should be added from the project maintainers' side after evaluating the demand of all types of contributors. Actually, we are already adding it(you can propose changes once it is merged.) Instead, you may want to add a pull request template or an issue template, we don't have that too. If you agree then please change the title and I will assign it to yo

[2021-03-09 17:10] kanak22 commented on #19
I did 🤗 kindly assign it to me

[2021-03-09 17:21] avinal commented on #19
If you need some help with the content of the template, do ask 👍🏼. I think a basic template with some customization will be fine.

[2021-03-09 17:29] kanak22 commented on #19
Sure 🤗

On Tue, Mar 9, 2021, 10:52 PM Avinal Kumar ***@***.***> wrote:

[2021-03-09 17:36] kanishka8276 opened #22 "When the grid height is large, whole grid is not visible and there is no scroll bar."
When the grid height is large, whole grid is not visible. And also there is no scroll bar.
Please assign this to me. @ankitapuri
#GsSOC'21

[2021-03-09 17:52] kanak22 opened #25 "Add an issue template"
I would like to add an issue template for the project as a part of GSSOC'21. Kindly assign it to me.

[2021-03-09 17:52] ankitapuri commented on #4
Made the changes 👍

[2021-03-10 06:15] aastha-io commented on #18
hey, i would like to work on this issue, can you please assign it to me?

[2021-03-10 09:25] Aastha1011 opened #28 "Add the utility box"
I am a GSSOC'21 participant. I will like to add color picker and different pen and eraser sizes and also delete and undo button. Can you please assign this to me?

[2021-03-10 09:25] GurleenKaur111 opened #29 "Improvement of the Home-page and adding the bullet items in the home-page"
I would like to add the list and the bullet items in the home-page and make it more attractive by adding other features in the home-page. Can you please assign this task to me?

[2021-03-10 12:01] ankitapuri commented on #29
Can u explain in detail a bit about it

[2021-03-10 12:04] #19 closed, assigned to kanak22

[2021-03-10 12:11] ankitapuri opened #30 "Add the labels in the Readme.md"
Add labels in the Readme displaying
- No of contributors
- Issues opened
- Issues closed
- PRs open
- PRs closed
- Repo Size
- Built By developers
- Built with Love

[2021-03-10 13:16] SHAIMA-HAQUE commented on #30
Hi!
I would like to work on this.
Could you please assign it to me

[2021-03-10 13:40] gnikita432 commented on #18
hey, @ankitapuri can you please assign me this issue

[2021-03-10 14:59] SHAIMA-HAQUE commented on #30
I have made the PR. Please check

[2021-03-10 16:11] ankitapuri commented on #25
Just add a basic default template for creating issues .
Will u be able be able to do @kanak22

[2021-03-10 16:13] kanak22 commented on #25
A pr template? Yes I can

[2021-03-10 16:13] kanak22 commented on #25
Actually I just did that pr template yesterday..today it was merged by you!

[2021-03-10 16:22] ankitapuri commented on #25
sorry the issues one

[2021-03-10 16:24] kanak22 commented on #25
Yeah sure I can

[2021-03-10 16:31] ankitapuri commented on #17
can u guys dm me in discord once
My username is: Ankita#5851

[2021-03-10 19:07] adarshvulli opened #33 "project cover design"
Create a design for the readme. md

Size:  width=200  height=400

Theme: pixel-art in sync to the pixel vibe

[2021-03-10 19:13] adarshvulli commented on #33
please send a sketch here or over the discord channel before making the pr! 😃

[2021-03-11 04:51] ankitapuri commented on #18
@gnikita432  there are certain changes that are more important and prior to cover before working on this . so currently its not required to work on it .

[2021-03-11 06:00] av-0901 commented on #33
I can do this stuff. I am a GSSoC participant . Kindly provide me this issue.

[2021-03-11 06:03] #25 closed, assigned to kanak22

[2021-03-11 06:26] nandini2110 opened #36 "Design the home page"
I would like to make the following improvement on the home page:
 *Add a header section that would comprise of options like start drawing and login/signup
 *In the body section, give a short description of the website and few artworks made
 *Add a start drawing button that will redirect the user to the pixel art page

[2021-03-11 07:02] ankitapuri commented on #36
The webpage is currently in making and at this stage there are certain tasks which r going on . we would reconsider this at a later stage after we atleast have the base of the pages .

[2021-03-11 07:02] #36 closed, assigned to nobody

[2021-03-11 10:08] simranbhalla3 commented on #18
I am Gssoc'21 participant please assign this issue to me as i have prior knowledge of this and can work on this. @gnikita432

[2021-03-11 10:12] simranbhalla3 commented on #7
i want to work on this issue if its not done yet , as a gssoc participant , please assign it to me @ankitapuri

[2021-03-11 10:20] simranbhalla3 commented on #17
Hii @ankitapuri Can i work on this issue as a gssoc participant ? also i can work on any other issue related to frontend

[2021-03-11 10:21] simranbhalla3 commented on #16
Hii i am a gssoc participant , please assign me this issue so that i can work on it @ankitapuri

[2021-03-11 11:05] VishalPatil18 commented on #7
Hey @ankitapuri, Vishal here and would love to work with @sahildotexe and @Nikhita28 on this issue under GSSoC'21.
You can check my portfolio site https://spectevil.github.io to get an idea of my previous works and assign it to me if possible. As this is a major task 3 people working efficiently and fast will make this happen ASAP.
Thanks!

[2021-03-11 11:10] kanak22 opened #37 "Adding a scroll bar to the home page"
I would like to add a scroll bar to the home page as if the user enters 20 by 20 grid it isnt completely visible and there arent any ways to scroll down and see it. Kindly assign it to me as a part of GGSOC'21..

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-03-11 11:56] ankitapuri commented on #7
Your portfolio is amazing but this issue is nearly done

[2021-03-11 11:59] VishalPatil18 commented on #7
Ok, No worries! Thank You for your compliment!

[2021-03-11 14:12] ankitapuri commented on #37
The webpage is currently in making and at this stage there are certain tasks which r going on . we would reconsider this at a later stage after we atleast have the base of the pages .

[2021-03-11 14:12] #37 closed, assigned to nobody

[2021-03-11 14:12] ankitapuri commented on #22
The webpage is currently in making and at this stage there are certain tasks which r going on . we would reconsider this at a later stage after we atleast have the base of the pages .

[2021-03-11 14:12] #22 closed, assigned to nobody

[2021-03-11 14:35] aditisneh commented on #33
Hey , if there's multiple contribution required, I can add a cool banner/gif to the readme along with neon effects, basically making the readme attractive. Am a GSSCO21 participant.  I will be sending the demo out here in a while. Do check.

[2021-03-11 18:21] barsha119 commented on #17
Hii @ankitapuri I am a gssoc'21 participant. I want to design the sign up / sign in page. Can you please assign me this?

[2021-03-12 04:13] ankitapuri commented on #16
Any progress @micksharma

[2021-03-12 06:40] micksharma commented on #16
Yes @ankitapuri Today I submit PR.

[2021-03-12 08:25] aashishah opened #39 "Logo Design"
I'd like to create a professional logo for the website, something that goes with the theme.

I'd like to work on this under GSSOC'21, so if you approve of the issue please assign it to me. Thank you :)

[2021-03-12 10:49] Fangston0 opened #40 "Creating a UI prototype for the drawing page"
I'll be using Figma to create a UI design for the drawing page. The page shall contain the selected size of the canvas, and the common drawing tools and features.

[2021-03-12 13:39] rohan-kulkarni-25 opened #41 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 13:39] rohan-kulkarni-25 opened #42 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 13:51] Rimpi246 opened #43 "Add favicon"
**Add favicon**
I would like to add a favicon.Please `/assign` this to me as a part of GSSOC'21

[2021-03-12 14:07] Sandi-09 commented on #41
I would like to add the logos to the readme file.Please /assign this to me as a part of GSSOC'21

[2021-03-12 14:09] avinal commented on #42
Hello @rohank2502, thanks for opening this issue. But we don't think there is a need for adding contributors list to the readme. Although it has been followed widely, it just makes readme more cluttered and people may miss important points. I hope you understand. Please open some issue that directly benefits the project.

[2021-03-12 14:09] #42 closed, assigned to nobody

[2021-03-12 14:12] #30 closed, assigned to SHAIMA-HAQUE

[2021-03-12 14:48] rohan-kulkarni-25 commented on #42
Ook For sure I will think of it !!

[2021-03-12 17:17] khareyash05 opened #44 "update contributing.md"
Hey! I would like to add the following in contributing.md
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on this as a part of GSSOC'21

[2021-03-13 06:44] fomalhauting opened #45 "Integrate welcome bot"
**Screenshots**
If applicable, add screenshots to help explain your problem.
I would like to add welcome bot for first issue, first pull request, etc.
Kindly assign it to me under gssoc. Thank you

[2021-03-13 08:45] adarshvulli commented on #33
hey @av-0901, so it's been 2 days. can I get an update so far made?

[2021-03-13 08:46] adarshvulli commented on #33
hey @aditisneh, can you make a separate issue ! by following the template.

[2021-03-13 08:47] adarshvulli commented on #39
hey @aashishah  sure u can go ahead! can you! post some ideas or things once made so that we can discuss them here or in the discord channel.

[2021-03-13 09:18] aditisneh commented on #33
@adarshvulli okay then, means that you will review my PR , if it suits you then you will directly merge it. Right?

[2021-03-13 09:21] adarshvulli commented on #33
i mean can u raise a new issue so there we can discuss!

[2021-03-13 09:28] aditisneh commented on #33
@adarshvulli sure :)

[2021-03-13 09:31] aditisneh opened #46 "enhancing readme"
We need to depart our project objective and working , efficiently. For this we need better UI in readme also some contribution guidelines.

[2021-03-13 10:21] adarshvulli commented on #46
so far! the contribution guidelines are added as separate, file! so apart from that how best are u suggesting to modify the present readme.
 my discord username. adarsh#3407

[2021-03-13 10:39] aditisneh commented on #46
Hey, I didn't found you on discord, if you can search me Aditi(P)#3051
I was saying to add a poster/banner more like a logo for pixelvibe. Or else a gif on spreading colors and stuffs. Try connecting on Discord for now. I can't find any link for this server. Otherwise will upload here

[2021-03-13 10:45] adarshvulli commented on #46
yes I get that logo and banner were assigned to other participants. earlier you told me you will be designing some neon effects for the readme so I was talking about those can you show me some of your earlier work of the same

Sure will connect on discord!

[2021-03-13 11:37] Srijan205 commented on #17
I want to work on this issue

[2021-03-13 12:07] richakumari19 commented on #45
I'm the participant in GSSOC'21. Could you please assign me this.I would love working on this.

[2021-03-13 12:07] richakumari19 commented on #43
I'm the participant in GSSOC'21. Could you please assign me this.I would love working on this.

[2021-03-13 12:13] #44 closed, assigned to nobody

[2021-03-13 12:22] ankitapuri commented on #40
We don't want the UI prototype for drawing page . Thanks for showing interest .

[2021-03-13 12:22] #40 closed, assigned to nobody

[2021-03-13 12:31] aashishah commented on #39
Surely, will post some designs here. Thank you!

[2021-03-13 12:33] ankitapuri commented on #39
Share it in discord server

[2021-03-13 12:34] ankitapuri commented on #16
please submit the PR by end of day else u will be unassigned

[2021-03-13 12:34] adarshvulli commented on #39
yeah, please use the project discord server!

[2021-03-13 12:34] #29 closed, assigned to nobody

[2021-03-13 13:10] aashishah commented on #39
I accidentally closed this, apologies!

[2021-03-13 13:24] adarshvulli commented on #43
hey! can you briefly discuss the issue over the main server!

[2021-03-13 14:08] micksharma commented on #16
@ankitapuri  Its shows grid when I clicked on submit button. Its works fine.

[2021-03-13 14:32] poojapaliwal opened #48 "Imporoving grid visibility as per user input"
I would like to solve the issue. When the user gives input to ow row and column, a table of the same number of rows and columns can be displayed as shown in a given figure.
![Screenshot (1)](https://user-images.githubusercontent.com/60742005/111032700-88e77200-8433-11eb-9a94-901069a1ef64.png)

but when the user enters the number of rows more than 7, only 7 rows are displayed in a table as given be

[2021-03-13 16:55] #7 closed, assigned to sahildotexe, Nikhita28

[2021-03-13 18:12] adarshvulli commented on #16
please have a look at the issue mam! u can work on it

[2021-03-13 19:21] #16 closed, assigned to simranbhalla3

[2021-03-14 11:20] #33 closed, assigned to nobody

[2021-03-14 11:21] adarshvulli commented on #46
@aditisneh I would like you to work on the issue!

[2021-03-14 12:34] aditisneh commented on #46
@adarshvulli okay thanks

[2021-03-14 12:49] khareyash05 opened #52 "update contributing.md"
Hey! I would like to add the following in contributing.md
1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on this issue as a part of GSSOC'21

[2021-03-14 13:15] pro-vider opened #53 "Sign up/login page"
Hii, I am a GSSOC'21 participant,I want to add a sign up/login page.

[2021-03-14 13:15] pro-vider commented on #53
please do let me know if I can start working on this or not.

[2021-03-14 13:35] Alik-Kumar-Ghosh opened #54 "Unable to scroll and bottom padding"
This issue is related to unable to scroll and the bottom padding to last grid.

I am a GSSOC'21 participant please assign this issue to me i would like to in this issue.

**Screenshots**

![image](https://user-images.githubusercontent.com/33929979/111070442-c9a8bf00-84f7-11eb-85d2-24234f32671a.png)

[2021-03-14 13:46] ankitapuri commented on #48
The grid is not visible when u host it online

[2021-03-14 14:03] adarshvulli commented on #53
we assigned it aldredy the same so thanks for the

[2021-03-14 14:03] #53 closed, assigned to nobody

[2021-03-14 15:24] poojapaliwal commented on #48
I have just run it locally and found this issue.
can you explain more about the issue I should work on?

[2021-03-14 16:20] ankitapuri commented on #48
can we please discuss in server

[2021-03-14 17:13] poojapaliwal commented on #48
yeah, sure! 👍

[2021-03-14 19:33] Ayushbajpai19 commented on #39
I would also like to make logo for the website under GSSOc'21, if you approve of this issue, I will start working on it.

[2021-03-14 19:34] Ayushbajpai19 commented on #18
Hello, I would like to contribute to this issue under GSSOC'21.

[2021-03-15 02:25] ankitapuri commented on #48
@poojapaliwal I'm closing this issue . A separate issue will be created by mentors n assigned to u

[2021-03-15 02:25] #48 closed, assigned to nobody

[2021-03-15 03:46] adarshvulli opened #57 "grid visibility when deployed over GitHub pages"
**Screenshots**
![image](https://user-images.githubusercontent.com/43677033/111099976-ab30db00-856c-11eb-9c7f-bd4bb8a95772.png)
the grid is not being shown after the input size of the grid is entered.

Link:
https://foss-cell-gecpkd.github.io/pixelvibe/

[2021-03-15 04:40] poojapaliwal commented on #57
As a GSSOC'21 participant, I would like to work on this issue, kindly assign this to me. :)

[2021-03-15 06:08] anu-cn opened #58 "Adding a colour palette in the form of colour wheel."
I would like to add the colour wheel in the web page which will also display rgb values of the selected colour.
Please assign this issue to me.
I am a GSSOC'21 participant.

[2021-03-15 06:37] Srijan205 commented on #54
Please assign this to me i am a participant of GSSOC'21

[2021-03-15 08:33] ankitapuri commented on #41
Explain about this in the main server once .

[2021-03-15 10:19] nidhivanjare opened #60 "Adding option to choose the preferred box size."
I would like to add an option where the user can choose the size of the boxes.
Please assign this issue to me.
I am a GSSOC'21 participant.

[2021-03-15 10:32] rohan-kulkarni-25 commented on #41
Means ?

[2021-03-15 10:45] ankitapuri commented on #41
Discord server of gssoc

[2021-03-15 10:49] rohan-kulkarni-25 commented on #41
Ok

On Mon, Mar 15, 2021, 4:15 PM Ankita Puri ***@***.***> wrote:

[2021-03-15 10:51] #57 closed, assigned to poojapaliwal

[2021-03-15 11:02] #54 closed, assigned to Alik-Kumar-Ghosh

[2021-03-15 11:41] ankitapuri commented on #52
This is not needed in the contributing.md

[2021-03-15 11:41] #52 closed, assigned to nobody

[2021-03-15 14:51] Aarti002 commented on #18
hey @ankitapuri can i work on this issue i would add some animation as well . Please assign this to me
Thank you!

[2021-03-15 15:05] #41 closed, assigned to rohan-kulkarni-25

[2021-03-15 18:32] ankitapuri commented on #45
what all are u planning to include ?

[2021-03-16 07:29] #46 closed, assigned to aditisneh

[2021-03-16 07:33] ankitapuri commented on #18
Are u willing to do it @gnikita432

[2021-03-16 07:58] athkdev opened #64 "Adding a drawing section/area to the page"
We can make a main drawing section to the `index.html`, so as soon as the user starts and enters the grid dimensions, the (pop-up) form disappears and a canvas appears of the submitted grid dimensions.
I'll start as soon as you assign this to me.

[2021-03-16 11:42] gnikita432 commented on #18
YES, @ankitapuri I would like to work on this.

[2021-03-16 16:35] #39 closed, assigned to aashishah

[2021-03-17 05:10] fomalhauting commented on #45
@ankitapuri A welcome bot to motivate and encourage first time issue and pull request openers. And also celebrate their first merged request.
Kindly assign it to me. Thank you!

[2021-03-17 13:18] ShambhaviSharma0110 opened #68 "Adding a Homepage"
**Screenshots**
If applicable, add screenshots to help explain your problem.
I would like to add a homepage to this website that describes the purpose and a few other details about this website.
we can also add a navbar that can contain links which can be routed.
(Prefer to use React.js)

[2021-03-17 13:30] theSatvik commented on #43
I'm a participant in GSSOC'21. Could you please assign me this? I would love to work on this.

[2021-03-17 16:13] aashi2912 opened #70 "ADD proper and precise navbar to home page."
Want to add all the details about website. Make it more professional and precise.

**Features to be added in navbar**

Home
About
Contact
Sign in / Sign Up

**GSSOC21** Please assign me this issue. @adarshvulli @rish-singhal @avinal

[2021-03-17 16:17] aashi2912 opened #71 "ADD proper Footer."
Want to add professional and good design of footer to the website.

Allow me as **GSSOC21** participant!
@adarshvulli @avinal @rish-singhal

[2021-03-17 16:18] aashi2912 opened #72 "Improvement in the UI of website."
Design and look of the website is not upto the mark. I would like to make it more attractive and enhance it's Design.

**GSSOC21**
@adarshvulli @avinal @rish-singhal

[2021-03-17 17:04] adarshvulli commented on #72
hello mam! @aashi2912 I really appreciate your interest and enthusiasm. We already assigned one of the other participants the same! So. I will close this once we are ready with the UI to raise some new issues to work on! thanks for the enthusiasm

[2021-03-17 17:04] #72 closed, assigned to nobody

[2021-03-17 17:05] adarshvulli commented on #71
hello mam! @aashi2912 I really appreciate your interest and enthusiasm. We already assigned one of the other participants the same! So. I will close this once we are ready with the UI to raise some new issues to work on! thanks for the enthusiasm

[2021-03-17 17:05] #71 closed, assigned to nobody

[2021-03-18 04:05] ankitapuri commented on #43
can u share some sample designs or ideas in discord .

[2021-03-18 04:24] ankitapuri opened #73 "Color contrast of Login Page"
**Screenshots**
If applicable, add screenshots to help explain your problem.

Change the color contrast of login page in neuromorphic format for both dark and light mode.

[2021-03-18 04:26] ankitapuri opened #74 "Adjust the toggle button"
**Screenshots**
If applicable, add screenshots to help explain your problem.

Make the bulb in the toggle button on login page stable and fixed at one position in both light and dark mode .

[2021-03-18 05:34] gnikita432 commented on #74
Hey, @ankitapuri I would like to work on this issue.

[2021-03-18 09:36] shrishti-c opened #76 "Creating forgot password page"
I would love to create the forgot password for this page which will be directed after user clicks on forgot password option in login/signup page.

[2021-03-18 09:44] shrishti-c commented on #73
Hey... I'm interested in doing this. Could you please assign this issue to me?  :)

[2021-03-18 15:40] #45 closed, assigned to itsIapetus

[2021-03-19 02:28] ankitapuri commented on #68
Can u please provide a rough wireframe for the same . Share it on discord if possible

[2021-03-19 04:15] #18 closed, assigned to gnikita432

[2021-03-19 13:53] ShambhaviSharma0110 commented on #68
https://www.figma.com/file/PoXsYBixFOPRauVwcYKECW/wireframe?node-id=0%3A1
This is the link to a rough wireframe I would also like to add specific pages for each section and also make an error page...

[2021-03-19 15:01] #73 closed, assigned to shrishti-c

[2021-03-19 15:22] ankitapuri commented on #68
Add login button in the navbar also . Rest all is good to go

[2021-03-20 05:02] #74 closed, assigned to gnikita432

[2021-03-20 05:42] #64 closed, assigned to athkdev

[2021-03-20 06:39] ankitapuri opened #82 "Adjust the board size according to the user choice"
**Screenshots**
If applicable, add screenshots to help explain your problem.

The form should be able to take user input and when we press submit button the canvas takes the size according to the user preference and the need .

[2021-03-20 09:42] malavikarajeshvikraman commented on #82
Hey @ankitapuri  I think I can implement this. Could you kindly assign this to me. Basically the canvas height and width needs to be input by the user correct ?

[2021-03-20 11:47] ankitapuri commented on #82
yes , but the maximum height should be such it should fit in a single screen without the need of scroller and also the width should also be limited on both sides so that utility box and colors can be added
Would u like to work ?

[2021-03-20 17:00] bitaashna commented on #82
@ankitapuri I would like to work on it
Can u please assign it to me.

[2021-03-21 06:02] ShambhaviSharma0110 commented on #68
Thank you! I will start working on it

[2021-03-21 12:12] arpit456jain opened #83 "Gssoc'21 Home page(index.html) is not Responsive Not Even after using Bootstrap"
Good Evening Sir This Project is made in bootstrap but still it is not responsive In phone View it is looking like this
<img width="960" alt="pixel" src="https://user-images.githubusercontent.com/55352601/111904362-9ffa1580-8a6c-11eb-85f5-d9572d169813.png">

I would like to solve this issue and i will do it as soon as possible please assign me this issue .

[2021-03-21 12:18] arpit456jain opened #84 "Bug In Changing Light mode to Dark Mode in Login/Signup Page"
Light Mode is ok but when i switched to dark mode It creates a problem because i am not able to see the content written in form because it is of black color.

It should change to White color when dark mode is activated and change to black color when light mode is activated I am attaching a video for better understanding my issue

https://user-images.githubusercontent.com/55352601/111904519-67a7070

[2021-03-21 15:32] arpit456jain commented on #83
Can i start working on it??

[2021-03-21 16:54] priyanka001tech opened #86 "Want to add media query using CSS"
As a GSSOC PARTICIPANT I want to add media query in css styling so that it looks different in phones and monitor screen.

[2021-03-21 16:56] priyanka001tech commented on #86
please assign me

[2021-03-22 08:36] ankitapuri commented on #83
@arpit456jain , I suggest that first we should go with entire making of website then this part comes later . Because certainly there will be lot of transformations which are needed at this stage .

[2021-03-22 08:37] ankitapuri commented on #86
@priyanka001tech ,I suggest that first we should go with entire making of website then this part comes later . Because certainly there will be lot of transformations which are needed at this stage .

[2021-03-22 09:05] arpit456jain commented on #83
Ok mam no problem
I have a request @ankitapuri mam please review my PR #85  i had all the required changes which are requested by @adarshvulli sir.

[2021-03-22 09:33] priyanka001tech commented on #86
okay ma'am

[2021-03-22 10:39] arpit456jain commented on #84
@ankitapuri mam please review my PR

[2021-03-22 10:50] ankitapuri commented on #83
I will surely do today

[2021-03-22 14:28] #84 closed, assigned to arpit456jain

[2021-03-22 15:02] ankitapuri commented on #82
Are you willing to work @bitaashna

[2021-03-22 16:20] gnikita432 opened #88 "Index page is not responsive"
**Screenshots**
If applicable, add screenshots to help explain your problem.
![pxissue3](https://user-images.githubusercontent.com/61223163/112022531-68689780-8b58-11eb-811d-7ddc5c49cb7c.PNG)
I can make the index page responsive , can you please assign me this issue under gssoc21

[2021-03-22 16:24] gnikita432 commented on #88
This is is a duplicate issue, Sorry for creating this issue.

[2021-03-22 16:24] #88 closed, assigned to nobody

[2021-03-22 16:38] shrishti-c commented on #82
Hey! I'm willing to work on it. Could you please assign it to me.

[2021-03-22 19:04] bitaashna commented on #82
Yes,I am.

[2021-03-23 14:08] #83 closed, assigned to nobody

[2021-03-23 20:25] cryptofox17 opened #89 "Adding a Clear Canvas Button"
Adding a Button to clear the canvas so that the user can start over drawing without having to refresh the page.
It could be implemented using javascript. I would like to work on this issue

[2021-03-24 06:25] cryptofox17 commented on #43
If no one is assigned, could I work on this?

[2021-03-24 06:26] richakumari19 commented on #76
I am a GSSoC'21 participant.
Can you assign me this issue

[2021-03-24 07:27] #60 closed, assigned to nobody

[2021-03-24 12:14] sourabhkumar45 opened #90 "Adding feature to move a step back by pressing Backspace key"
Users can move multiple steps back in their work by pressing backspace multiple times.

[2021-03-24 12:29] ankitapuri commented on #90
Can u please elaborate

[2021-03-24 12:33] kavita1403 commented on #43
Participant of GSSOC'21, I'm very much interested to work on it . Could you please give me opportunity to prove the skill that I have ?. Please assign me this, I genuinely want to work on it.

[2021-03-24 12:51] sourabhkumar45 commented on #90
Just like letters can be removed by backspace if we write something wrong, Users can remove a mark from canvas by pressing backspace.

[2021-03-24 13:30] ankitapuri commented on #90
For the erasing purpose we will create a utility box , which will have an eraser , also an undo feature and all clear button. So will work shortly on that . So u can try contributing there . Until then I don't think this issue has any point .
Thanks for showing interest .

[2021-03-24 13:30] #90 closed, assigned to nobody

[2021-03-24 13:32] ankitapuri commented on #43
**Anyone who is interested in this just show any design idea once in discord server**

[2021-03-26 11:25] ankitapuri commented on #68
@ShambhaviSharma0110 can you please provide the updates.

[2021-03-26 11:55] ShambhaviSharma0110 commented on #68
@ankitapuri hey! I've made separate files of the pages and added them in the folder so now the homepage appears as it was and one is directed to those pages only when the link is clicked on the navbar.

[2021-03-26 15:40] coding-geek21 opened #94 "Adding navbar to homepage"
**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-03-26 15:47] #94 closed, assigned to nobody

[2021-03-26 15:50] coding-geek21 opened #95 "Work on sign in and sign up back-end using MySQL and php"
**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-03-27 09:27] hritikgupta92 commented on #89
Please Assign this issue to me,it would be a great opportunity for me to learn about adding buttons for getting into homepage.

[2021-03-27 11:38] ankitapuri opened #96 "Create a button"
**Screenshots**
If applicable, add screenshots to help explain your problem.
Create a button which user can click and get back to the page where he can adjust the size according to the preference .
 Ref: https://codepen.io/manelroig/pen/rJMVRO

[2021-03-27 11:40] Anirudh-GH commented on #96
Can I try this issue?

[2021-03-27 11:43] ankitapuri commented on #96
@Anirudh-GH  , Currently I have to assign this issue to someone else . As I have already discussed and explained him regarding the same .

[2021-03-27 11:43] ankitapuri commented on #82
@bitaashna can u please provide the updates

[2021-03-27 11:45] #86 closed, assigned to nobody

[2021-03-27 12:14] hritikgupta92 commented on #96
@ankitapuri  Please assign it to me

[2021-03-27 16:29] jainaayush01 opened #98 "Add a CODE_OF_CONDUCT.md file"

[2021-03-28 16:36] #98 closed, assigned to jainaayush01

[2021-03-29 10:39] athkdev commented on #82
Hi @ankitapuri, I have tried and tested the implementation for the user-defined dimensions, if you assign, I'll make the PR

[2021-03-30 11:12] #43 closed, assigned to kavita1403, cryptofox17

[2021-03-31 07:09] amaan-ahmad opened #101 "🚀Feature: Add a download pixel art button"
Currently, the project lacks the ability to download the art created by the user.
I would like to work on this issue to add a download art functionality to the project.

The download button will be placed below the canvas, and as soon as the user clicks on it. It will download the created art in either JPEG or PNG. Format

Kindly assign this issue to me under the GSSOC'21 program.

Thank you.

[2021-04-02 17:19] #82 closed, assigned to athkdev

[2021-04-02 17:37] arpit456jain opened #102 "[Gssoc'21] Backend in Django or flask"
I am a gssoc'21 participant and I want to contribute in this project by writing its backend in python either flask or Django.
I will also write its login and sign up functionality.

[2021-04-02 23:57] akshay1027 opened #103 "Add footer"
**description**
Add footer

[2021-04-03 09:16] Bhavya-Sehgal opened #104 "Add Dark/Light mode"
I can Add Light Dark Mode to all of the pages which adds another feature to this website and which just gives two choices to the user as what its preferable UI is either light or dark.

[2021-04-03 09:17] Bhavya-Sehgal commented on #104
I want to work on this issue as GSSOC'21 participant. Please assign me this issue. @ankitapuri  @avinal

[2021-04-04 11:53] ankitapuri commented on #103
can u please elaborate , where to add footer

[2021-04-04 11:54] ankitapuri commented on #104
we already have one on login page and Its not required on the main canvas page . Like it would be difficult to reuse the code again n again making it more complex .

[2021-04-05 05:46] #102 closed, assigned to nobody

[2021-04-05 12:25] Avishake007 opened #107 "Change login page design"
I want to change the login page design
Please assign me for this task under gssoc'21

[2021-04-05 15:17] adarshvulli commented on #104
@Bhavya-Sehgal, I would like to close this issue. Cause we aldredy have our plans for the dark mode.

[2021-04-05 15:17] #104 closed, assigned to nobody

[2021-04-05 15:48] adarshvulli commented on #28
Hello @Aastha1011, I'm creating a more detailed issue for this which requires Collab of participants if u willing to work u can comment on it

[2021-04-05 15:48] #28 closed, assigned to nobody

[2021-04-05 15:51] avinal commented on #103
Also do specify the contents of the footer.

[2021-04-05 15:59] akshay1027 commented on #103
contents we can add to Footer are @avinal @ankitapuri  :
1)Find us
2)Call us
3)Mail us
4)Website logo
5)What this website is about
6)Follow us
-Instagram link with logo
-LinkedIn link with logo
-Twitter link with logo
-etc
7)Useful links
-Home
-Services
-About Us
-Contact Us etc
8)Subscribe
-Email address
9)Copyrights
10) All the above with responsive UI

[2021-04-05 16:09] srishtij2000 commented on #96
Can I work on this issue?

[2021-04-05 16:22] ankitapuri commented on #96
we have the PR for this

[2021-04-06 05:32] ankitapuri commented on #107
what design u suggest

[2021-04-06 05:34] ankitapuri opened #109 "Color scheme of main page."
**Screenshots**
If applicable, add screenshots to help explain your problem.

Working on the color scheme of index.html , to make it uniform across the website .

[2021-04-06 05:48] ankitapuri commented on #89
we are already having one redirecting button .

[2021-04-06 05:48] #89 closed, assigned to nobody

[2021-04-06 05:49] rupal11 commented on #109
I want to work on it

login.html and index.html
![2021-04-06_111406](https://user-images.githubusercontent.com/60324778/113664403-5135b800-96c9-11eb-944a-d921cb7697a2.jpg)
![login](https://user-images.githubusercontent.com/60324778/113664407-5266e500-96c9-11eb-970f-860f097c150c.jpg)

The login page is in blue color but the index page is pink color. So to maintain uniformity I want to change the co

[2021-04-06 10:27] Avishake007 commented on #107
I am thinking of working on box shadow, hover and background color of the login page.

[2021-04-06 15:39] rupal11 opened #110 "Suggestion of adding a preloader"
**Screenshots**
If applicable, add screenshots to help explain your problem.

I want to add a preloader and have attached a link to a  video for the same. It will be the logo of PixelVIbe which will fade till the website loads.

https://drive.google.com/file/d/1BwavGOAr3BMhyhJ60aMj7XUYFuzC8dXS/view?usp=sharing

[2021-04-07 12:54] simranbhalla3 commented on #109
I am a Gssoc participant , please assign me this issue.

[2021-04-07 12:54] simranbhalla3 commented on #96
Hi , Can i work on this issue?

[2021-04-07 12:55] simranbhalla3 commented on #103
Hi , can i work on this issue?

[2021-04-07 12:55] simranbhalla3 commented on #70
Can  i work on this issue?

[2021-04-07 13:04] #70 closed, assigned to nobody

[2021-04-07 14:21] hritikgupta92 commented on #96
Sorry,but I have finished the work now,and soon it would get merged

[2021-04-08 09:50] akshatvirmani opened #111 "To add contributor's name in README.md file"
To add contributor's name in README.md file.
I would like to work on this issue. Kindly assign this to me.

[2021-04-08 12:19] ankitapuri commented on #111
@akshatvirmani , its not required as it would make the Readme more congested .

[2021-04-08 12:19] #111 closed, assigned to nobody

[2021-04-09 14:23] N-Shar-ma opened #112 "New Feature: Choice of Colour to Draw with"
I would like to give the user the option to pick a color with which they can draw on the canvas, so that they are not limited to using only black. A color input can be added for this beside the canvas element

[2021-04-10 07:55] SilverGraph opened #114 "Login page re-imagined"
Greetings! I am a GSSOC'21 participant and I would like work on re-designing the Login page. This is how I have re-imagined the design.

[2021-04-10 16:16] #96 closed, assigned to hritikgupta92

[2021-04-10 16:58] #114 closed, assigned to nobody

[2021-04-10 17:15] SilverGraph opened #115 "Fixing border of login page"
I have adjusted the border a bit. Please let me know if this is the one you were looking for:

![Screenshot 2021-04-10 224007](https://user-images.githubusercontent.com/74287708/114278658-7a01d880-9a4e-11eb-9058-6de964d605ae.png)

[2021-04-11 21:11] manisha-27 commented on #103
I want to work on this issue.

[2021-04-11 21:12] manisha-27 commented on #107
Hey, can i work on this issue?

[2021-04-11 21:12] akshay1027 commented on #103
I myself want to work on this, hence made the issue :)

[2021-04-12 04:12] #101 closed, assigned to amaan-ahmad

[2021-04-12 04:16] ankitapuri commented on #107
Any wireframe for the same ?

[2021-04-12 11:36] akshay1027 opened #118 "website is not responsive"
**Screenshots**
The Card can be made responsive, it would be very difficult to enter Numbers as the card is small here!

![2021-04-12 (2)](https://user-images.githubusercontent.com/65683151/114388481-5b682280-9bb1-11eb-9452-ec4c55b96ef0.png)

[2021-04-12 11:37] akshay1027 commented on #118
I would like to work on this @ankitapuri @avinal

[2021-04-12 11:39] ankitapuri commented on #118
we have a PR for this problem

[2021-04-12 11:39] #118 closed, assigned to nobody

[2021-04-12 11:45] akshay1027 commented on #103
any update on this?  @ankitapuri

[2021-04-12 18:11] ankitapuri commented on #103
We don't need so detailed footer . It will occupy so much space . Moreover , we already have one PR for the same for the login page .

[2021-04-12 19:36] Marim99 opened #119 "Make user choose the background color"
I want to make user to choose background color of the Grid
I am a Gssoc participant, Please assign me this issue. @ankitapuri @avinal

[2021-04-13 01:49] gnikita432 opened #120 "Add connect with us section"
**Screenshots**
If applicable, add screenshots to help explain your problem.
Adding a connect with us section under which there will be Github, LinkedIn, Gmail, Facebook icons.

[2021-04-13 11:24] #103 closed, assigned to nobody

[2021-04-14 04:13] #17 closed, assigned to nobody

[2021-04-14 04:14] #115 closed, assigned to SilverGraph

[2021-04-14 04:29] #109 closed, assigned to nobody

[2021-04-14 04:30] ankitapuri opened #121 "To change color of footer"
**Screenshots**
If applicable, add screenshots to help explain your problem.
To change color of footer in the login page according to the light and dark mode .

[2021-04-14 04:31] #76 closed, assigned to nobody

[2021-04-14 07:38] Rohan27s commented on #120
On which page you want the Connect with us section added?
Login page or index.html?

[2021-04-14 08:03] SnehaVeerakumar commented on #121
I would like to contribute to this issue

[2021-04-14 08:25] arpit456jain commented on #121
@ankitapuri there is also one more issue text is not in center
<img width="960" alt="pix" src="https://user-images.githubusercontent.com/55352601/114678326-c25c1780-9d28-11eb-9f4d-c29e39d20d0d.png">

and overlapping in mobie view
<img width="960" alt="pix2" src="https://user-images.githubusercontent.com/55352601/114678455-dd2e8c00-9d28-11eb-8a56-995069c53753.png">

I would like to work on this iss

[2021-04-14 08:27] arpit456jain commented on #68
@ShambhaviSharma0110 are you working on this issue?

[2021-04-14 11:14] gnikita432 commented on #120
I can add connect us icons in any page. adding social media links in the index.html will be more good.

[2021-04-14 11:58] ankitapuri commented on #68
she made a PR , but some changes are required which she needs to do

[2021-04-14 12:01] ankitapuri commented on #121
I can create a separate issue for the same . but its first cum first serve so @SnehaVeerakumar shall be given a chance .

[2021-04-14 12:03] arpit456jain commented on #121
@ankitapuri should i make a separate issue for this ??

[2021-04-14 12:05] ankitapuri commented on #121
sure

[2021-04-14 12:07] arpit456jain opened #122 "[Gssoc'21] bugs in login page"
**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="960" alt="pix" src="https://user-images.githubusercontent.com/55352601/114707519-f09d1f80-9d47-11eb-8456-aec9dfef5cdb.png">
<img width="960" alt="pix2" src="https://user-images.githubusercontent.com/55352601/114707531-f5fa6a00-9d47-11eb-87a7-4c391ff2e3ba.png">

text is not in center and overlapping in mobie vi

[2021-04-14 12:07] arpit456jain commented on #122
@ankitapuri kindly assign this issue to me

[2021-04-14 12:56] SnehaVeerakumar commented on #121
I need to change the color of "made with <3" to white when the dark mode is turned on. Am I correct ? @ankitapuri

[2021-04-14 14:55] ankitapuri commented on #121
yes

[2021-04-14 15:02] arpit456jain commented on #122
@ankitapuri kindly review my PR

[2021-04-14 15:49] SnehaVeerakumar commented on #121
@ankitapuri  yeah done ! Check my PR please.

[2021-04-14 17:29] #122 closed, assigned to arpit456jain

[2021-04-15 14:36] #121 closed, assigned to SnehaVeerakumar

[2021-04-15 14:42] ankitapuri commented on #112
![image](https://user-images.githubusercontent.com/54734002/114888503-eb62d200-9e26-11eb-91df-622bd8a5831d.png)

[2021-04-15 14:43] ankitapuri commented on #112
@N-Shar-ma  and @AtharvaKamble  u both want to work on it ?

[2021-04-16 02:34] archanagandhi opened #125 "[Preloader]"
Hey @ankitapuri ,
I would like to add a animated PRELOADER to the website. Please assign this to me

[2021-04-16 07:28] rupal11 opened #126 "Create Canvas.html"
I want to create a separate canvas.html.It will have CSS and javascript files linked to it and will be called when submit button on index.html is clicked.

Wireframe -

![wireframe](https://user-images.githubusercontent.com/60324778/114988604-24955380-9eb4-11eb-8bbc-43434625bf06.png)

The background will be pink in color as shown in index.html and the canvas will be white.
There will be three sect

[2021-04-16 08:03] athkdev commented on #112
Hi @ankitapuri, yes will start working this issue.

[2021-04-17 04:50] ankitapuri commented on #125
hey @archanagandhi  , we already have a pre-loader but its a heavy css , so can u suggest some modifications

[2021-04-17 05:22] archanagandhi commented on #125
Sure @ankitapuri . Do you want the same loader style or can I suggest a new one?

[2021-04-17 05:31] ankitapuri commented on #125
if u can improve the exisiting one . If not , u can suggest new as well

[2021-04-17 06:11] archanagandhi commented on #125
I had a look at the loader Ankitapuri. What I felt was the loader is too heavy.
My suggestion is something a **Cube** like loader will matches our website( because we do pixel art ) Also looks simple and clean.
if you like it you can assign this to me. Also please tell your suggestions.

[2021-04-17 06:42] ankitapuri commented on #125
Cool Archana , but can u show some live example like how u r gonna make it work

[2021-04-17 18:58] CMELAKKIA opened #127 "Enhancing user input.html page"
I would like to add different themes to the web page. I can also enhance the buttons and add hover effect.

[2021-04-17 19:00] CMELAKKIA opened #128 "Adding new feature"
@ankitapuri  I would like to add different sized pens.

[2021-04-18 05:11] archanagandhi commented on #125
https://user-images.githubusercontent.com/74424757/115134970-84196d80-a032-11eb-83e7-b83cd19091f0.mp4

Like this. we can use any color of your choice

[2021-04-18 06:00] ankitapuri commented on #125
cool ! Just choose colors which suit with the existing webpage

[2021-04-18 06:01] ankitapuri commented on #127
what themes @CMELAKKIA

[2021-04-18 07:30] CMELAKKIA commented on #127
@ankitapuri  I will add three themes default dim(dark blue) and dark. I will also create color switchers which will change the color of icons and buttons based on the color that is picked.
![image](https://user-images.githubusercontent.com/76167557/115137837-02333f80-a046-11eb-9a84-4cf5a2294673.png)

[2021-04-18 16:10] ankitapuri commented on #127
cool

[2021-04-19 08:43] gnikita432 opened #130 "Index page is not responsive"
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/61223163/115207398-30ce1a80-a119-11eb-8c39-6eb4bf1ed888.png)
I want to work on making the index page responsive  under gssoc

[2021-04-19 08:47] gnikita432 opened #131 "Create a forgot password page"
**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-04-19 16:16] rish-singhal commented on #130
seems good to me. What about you @ankitapuri ?

[2021-04-19 16:16] rish-singhal commented on #128
Can you please elaborate more? or some reference images?

What different sized pens would do?

[2021-04-19 16:17] rish-singhal commented on #131
seems fine, I guess? @ankitapuri ?

[2021-04-19 16:34] ankitapuri commented on #130
I'll assign her

[2021-04-19 16:35] ankitapuri commented on #131
Can u show a rough layout for the same

[2021-04-19 20:14] CMELAKKIA commented on #128
Adding different sizes of brushes will improve the feel of this project..
For example, having smaller, small, medium and big sized brushes.
![image](https://user-images.githubusercontent.com/76167557/115297469-dadd8f00-a179-11eb-9353-fe7cab0d5654.png)

[2021-04-20 01:29] gnikita432 commented on #131
Yes, when the user will click on forgot password link on the login page, A card will pop up which will say to reset the password. The card will somewhat look like this
![image](https://user-images.githubusercontent.com/61223163/115323399-b1d2f380-a1a5-11eb-8a43-2e74ed60ad8c.png)
It will have the content like this and I will style the card according to the login page theme.

[2021-04-20 14:31] rish-singhal commented on #128
Currently, whenever we use a "default size" brushes it creates a 1x1 box. According to the new sized brushes you are suggesting, will it create 2x2, 3x3, .... box

[2021-04-20 16:46] #125 closed, assigned to archanagandhi

[2021-04-20 16:48] #58 closed, assigned to nobody

[2021-04-20 17:03] CMELAKKIA commented on #128
@rish-singhal  Yes

[2021-04-21 04:40] rish-singhal commented on #128
@ankitapuri we can assign I guess?

[2021-04-21 04:46] ankitapuri commented on #128
![image](https://user-images.githubusercontent.com/54734002/115497986-50388500-a28a-11eb-950b-ab53aa377749.png)

This is actually the layout , but before that we need a drop down menu and also these variable brush sizes should also appear in some drop side ways fashion

[2021-04-21 11:16] #107 closed, assigned to nobody

[2021-04-21 11:16] #110 closed, assigned to nobody

[2021-04-23 03:18] gnikita432 opened #133 "Add Prettier for code formatting"
**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-04-23 07:49] gnikita432 commented on #131
Hey, Should I create new files for login.css and script(login.js) of the login.html Or I include the script and css in login.html file only?

[2021-04-23 08:48] rish-singhal commented on #131
@gnikita432 separate files will be good!

[2021-04-23 08:49] rish-singhal commented on #133
Add Prettier for code formatting-- can you explain a bit more? @gnikita432

[2021-04-23 08:53] rish-singhal commented on #128
@CMELAKKIA  any updates from your side?

[2021-04-23 09:57] gnikita432 commented on #133
Installing and setting up prettier will help to format the code automatically on saving. Many contributor contributes to the project and may do some bad code formatting practices like adding unwanted extra space lines or not adding proper space so prettier will be useful for perfectly structured and easy to read code. Prettier will follow one pattern and format the code accordingly on saving. basi

[2021-04-23 10:05] N-Shar-ma commented on #112
@ankitapuri Sorry for the late response, is there any way I can still contribute to this issue?

[2021-04-23 12:08] ankitapuri commented on #112
text me on discord once

[2021-04-23 12:09] #130 closed, assigned to gnikita432

[2021-04-23 12:22] ankitapuri commented on #126
@rupal11 any update?

[2021-04-23 13:00] gnikita432 commented on #131
hey, can you please review the design of the card
![image](https://user-images.githubusercontent.com/61223163/115874585-e246b600-a461-11eb-98d6-26247ed4df95.png)

[2021-04-23 13:29] gnikita432 commented on #131
Hey, Can you please review the design
![image](https://user-images.githubusercontent.com/61223163/115878304-060bfb00-a466-11eb-8a8d-a5c2ef60c06c.png)

[2021-04-23 17:47] CMELAKKIA commented on #128
@rish-singhal i can make the brushes appear in drop down fashion

[2021-04-24 04:24] ankitapuri commented on #131
Can you make that made with love bit centered

[2021-04-24 18:49] swarnalii opened #135 "Adding delete button to clear the canvas"
As mentioned in the Readme, there is a need of delete button. I want to add the delete button which would clear the canvas in one click alongwith the dropdown menu

[2021-04-25 11:08] gnikita432 opened #136 "Add a sign in link in the home page which will redirect to the login page."
**Screenshots**
If applicable, add screenshots to help explain your problem.
I would like to add a sign in button in the right top side which will redirect to the login page.

[2021-04-25 20:35] SnehaVeerakumar commented on #68
@ankitapuri I would like to work on this issue. If assigned i will complete it within 3 days.

[2021-04-26 08:29] ankitapuri commented on #128
okay! Can u make a major menu above it

[2021-04-26 13:26] ankitapuri commented on #68
I hope u know it is need to be done in separate files. Not including in the existing ones

[2021-04-26 13:29] SnehaVeerakumar commented on #68
Do you mean, build from scratch?

[2021-04-26 13:33] ankitapuri commented on #68
we don't have an existing homepage right , so its from scratch . U just include a navbar which could direct to other pages

[2021-04-26 13:36] SnehaVeerakumar commented on #68
That's great. Please assign me to start working. I will keep updating about my progress. I am actually searching for issues which needs to be built from scratch.

[2021-04-26 13:38] SnehaVeerakumar commented on #68
As I am currently done with all my assigned issues, I can give all my time for this project

[2021-04-26 13:49] ankitapuri commented on #68
cool ! so I create a level 3 issue for the same . Is it fine for u

[2021-04-26 13:52] SnehaVeerakumar commented on #68
@ankitapuri  level is not an issue :)

[2021-04-26 15:58] CMELAKKIA commented on #127
@ankitapuri please review my pr

[2021-04-26 17:37] CMELAKKIA commented on #128
@ankitapuri  Yes I would like to work on that.

[2021-04-27 04:12] CMELAKKIA commented on #127
@ankitapuri I have changed the dim theme color from dark blue to bluish black in #139

[2021-04-27 13:01] subhangi2731 commented on #95
can I work on this issue?

[2021-04-27 13:02] subhangi2731 commented on #119
please assign me this

[2021-05-01 11:56] #135 closed, assigned to swarnalii

[2021-05-01 13:47] gnikita432 opened #141 "Add responsiveness in the Canvas section"
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/61223163/116784441-cec6cb00-aab1-11eb-9a67-99bde1c175e2.png)
I would like to work on this issue.

[2021-05-01 13:55] gnikita432 opened #142 "Add hover effect on pick a color"
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/61223163/116784550-7217e000-aab2-11eb-8367-01e2a4ebbb45.png)
I would like to add some hover effect on the focus effect on the colors.

[2021-05-01 17:45] N-Shar-ma opened #144 "Implement New Feature: Eraser"
I would like to make the new eraser button in the dropdown functional. When it is clicked, instead of black the canvas can be colored white (background color) and when the brush button is selected, the color is reset to black.

[2021-05-04 06:36] arpit456jain commented on #68
@SnehaVeerakumar are you working on this issue ??

[2021-05-04 06:42] #112 closed, assigned to athkdev

[2021-05-04 07:04] SnehaVeerakumar commented on #68
Yeah, I am done and today I am about to send PR.

[2021-05-04 08:15] Aarti002 opened #145 "Selecting different color"
Providing option to user to select variety of colors.
Please @ankitapuri assign me this issue
Thank you!

[2021-05-04 11:11] ankitapuri commented on #145
We already have the color palette

[2021-05-04 11:13] ankitapuri commented on #133
@gnikita432  using prettier is a lot space-consuming which we need to avoid at this point of time .
We might reconsider it later . so u can close the issue as of now

[2021-05-04 11:14] ankitapuri commented on #142
Can you please elaborate @gnikita432

[2021-05-04 11:40] Aarti002 commented on #145
but we can't select them i mean they don't work i guess @ankitapuri

[2021-05-04 11:52] ankitapuri commented on #145
Check it now its working

[2021-05-04 12:50] #126 closed, assigned to rupal11

[2021-05-04 12:51] ankitapuri opened #146 "Code-formatting"
**Screenshots**
If applicable, add screenshots to help explain your problem.

Adding comments on the code and deleting unnecessary lines of code

[2021-05-04 12:53] rupal11 commented on #146
I want to do it. I will add comments and remove unnecessary code.

[2021-05-04 12:55] ankitapuri opened #147 "Responsiveness"
**Screenshots**
If applicable, add screenshots to help explain your problem.

When we enter the unequal board size like 5x4 , then the download button position doesn't show responsiveness
![image](https://user-images.githubusercontent.com/54734002/117006426-0c239680-ad06-11eb-8f1e-2c8a71d3ff44.png)

[2021-05-04 12:58] ankitapuri opened #148 "Adjusting drop-down menu"
**Screenshots**
If applicable, add screenshots to help explain your problem.

Shifting the drop-down menu to left side and little bit upwards.

[2021-05-04 13:04] ankitapuri opened #149 "Adjusting Return button"
**Screenshots**
If applicable, add screenshots to help explain your problem.

Shifting the return button to extreme left just below the drop-down menu

[2021-05-04 14:32] SnehaVeerakumar commented on #68
@ankitapuri Please merge #139 if it is ready as I need to write few lines of code for each skin color

[2021-05-04 14:44] Aarti002 commented on #145
but still we could select color from limited options can i add color picker?
Please assign this to me @ankitapuri
Thank you!

[2021-05-04 17:01] ankitapuri commented on #145
I am still not getting u , can u show some rough sketch regarding the same

[2021-05-04 17:20] CMELAKKIA commented on #149
@ankitapuri  I would like to work on this issue

[2021-05-04 17:21] CMELAKKIA commented on #128
@ankitapuri  Can you assign this issue to me?

[2021-05-05 17:16] arpit456jain commented on #148
@ankitapuri kindly Assign me this issue

[2021-05-05 17:18] arpit456jain commented on #147
@ankitapuri i would like to give it a try

[2021-05-06 04:56] Aarti002 commented on #149
@ankitapuri can i work on this issue?
please assign this to me
Thank you!

[2021-05-06 05:03] Aarti002 opened #151 "Adding login page"
@ankitapuri can i add login page to this project?
Thank you!

[2021-05-06 05:11] Aarti002 commented on #145
something like this
![Screenshot (139)](https://user-images.githubusercontent.com/70666307/117244972-a1827000-ae57-11eb-8202-36553d1be88c.png)

[2021-05-06 05:12] Aarti002 commented on #145
i hope @ankitapuri u get it now?

[2021-05-06 05:16] ankitapuri commented on #145
Yeah , I got it !
But I would say lets keep the colors limited it looks decent enough

[2021-05-06 10:57] arpit456jain commented on #148
<img width="960" alt="pix" src="https://user-images.githubusercontent.com/55352601/117287439-f9d16600-ae87-11eb-8cfb-cff426454ea5.png">
@ankitapuri  is this ok ?

[2021-05-06 11:40] ankitapuri commented on #148
can u please make the drop-down menu more upwards

[2021-05-06 14:11] arpit456jain commented on #148
<img width="960" alt="pix2" src="https://user-images.githubusercontent.com/55352601/117312917-1038eb00-aea3-11eb-9b95-292fff293bb9.png">

@ankitapuri is this fine now

[2021-05-06 14:15] arpit456jain commented on #147
@ankitapuri that's because in css position is absolute that's why it is not possible to make it responsive
we can put it on top so it won't be affected by size of canvas

[2021-05-06 14:25] arpit456jain commented on #68
@SnehaVeerakumar I think @ankitapuri asked to make a home page from scratch  having navbar and some more details related to Project
I checked this PR #139,  he added some features in current index.html I don't think so we should make this file like a home page.

2. Its already very messed up on index.html every element having position absolute , not at all Responsive , the more content it have , m

[2021-05-06 14:53] SnehaVeerakumar commented on #68
I have checked #139 and it's absolutely perfect and fits in my work !! I see no issues with responsiveness and what do you refer as a mess ? It was pretty simple to integrate with my code !!
Can you exactly point out which part is a mess, so that it becomes easy to rectify ?

[2021-05-06 15:02] #145 closed, assigned to nobody

[2021-05-06 15:06] Aarti002 opened #152 "Adding shadow effect to selected color"
This would show which color has been selected from provided color pallets.
@ankitapuri can i work on this issue?
Thank you!

[2021-05-06 15:35] ankitapuri commented on #147
where on top u suggest ?

[2021-05-06 15:36] ankitapuri commented on #68
Firstly , We will format the code once and then accordingly will take up the canvas on separate files

[2021-05-06 15:37] ankitapuri commented on #68
there are some code lines which are written unnecessary so , I already have created a issue on code formatting and one of the participant is working on it

[2021-05-06 15:38] ankitapuri commented on #148
yes

[2021-05-06 15:39] ankitapuri commented on #151
we already have one

[2021-05-06 15:39] #151 closed, assigned to nobody

[2021-05-06 15:49] arpit456jain commented on #148
@ankitapuri here is the PR kindly add labels before  merge

[2021-05-06 15:52] arpit456jain commented on #147
<img width="960" alt="download" src="https://user-images.githubusercontent.com/55352601/117328336-29489880-aeb1-11eb-9e8d-efad30f118ac.png">

@ankitapuri

[2021-05-06 15:53] arpit456jain commented on #147
now it will not get affected by size of canvas

[2021-05-06 16:06] arpit456jain commented on #68
https://user-images.githubusercontent.com/55352601/117329990-d839a400-aeb2-11eb-8f04-d95a5544c263.mp4

@SnehaVeerakumar @ankitapuri  this is the video in which i download the code of that PR and just have a look on 2nd page after the submitting the canvas size

[2021-05-06 16:12] ankitapuri commented on #68
Can you share this video in her PR once .

[2021-05-06 16:12] arpit456jain commented on #68
@SnehaVeerakumar can you share some ss or videos of your code ? It will be very helpful for understanding what changes you have done

[2021-05-06 16:12] arpit456jain commented on #68
yeah sure why not

[2021-05-06 16:17] ankitapuri commented on #68
really grateful to u , for pointing out the error

[2021-05-06 16:30] arpit456jain commented on #68
No problem 👍

[2021-05-06 16:40] arpit456jain commented on #147
@ankitapuri can i make a PR for this?

[2021-05-07 04:08] ankitapuri commented on #147
yes

[2021-05-07 04:44] arpit456jain commented on #147
@ankitapuri kindly merge my PR #153
Since the changes are on same page I can not make simultaneously PR it will cause merge conflicts

[2021-05-07 06:06] #148 closed, assigned to arpit456jain

[2021-05-07 06:23] arpit456jain commented on #149
@ankitapuri i am also interested in this issue

[2021-05-07 06:29] #147 closed, assigned to nobody

[2021-05-07 06:43] arpit456jain commented on #68
https://user-images.githubusercontent.com/55352601/117408345-6e121500-af2d-11eb-8b5a-e1f3120708db.mp4

@ankitapuri I have made this home page for this project.
Its built from scratch and totally independent of other pages . Its a basic layout lots of enhancements can be done later
I would like to make a PR for this

[2021-05-07 06:45] SnehaVeerakumar commented on #68
Sure. Directly I will add it in a PR

[2021-05-07 06:48] SnehaVeerakumar commented on #68
@ankitapuri I don't think it is good to encourage someone who is not assigned to make a PR. I am active here and I was just waiting for #139 to get merged as i have coded for that as well.
Shall I make a PR by removing skin colors ?

[2021-05-07 15:00] arpit456jain commented on #68
@SnehaVeerakumar i think we need a separate page why are you waiting for that PR to be merged just start your work.

[2021-05-07 15:03] SnehaVeerakumar commented on #68
That's a skin color ! Needed in home.

[2021-05-07 15:45] ankitapuri commented on #68
@arpit456jain , I had already assigned @SnehaVeerakumar  for this issue . So before considering ur work I need to look into hers

[2021-05-07 15:47] #149 closed, assigned to arpit456jain

[2021-05-07 15:48] #144 closed, assigned to N-Shar-ma

[2021-05-07 15:49] SnehaVeerakumar commented on #68
That's great, sharing my work tonight.
Tomorrow morning my PR will be all set for review. I'll temporarily add skin colors and I'll make changes after the reviewers suggestion !!

[2021-05-07 15:50] ankitapuri commented on #68
Are making a separate page right ?

[2021-05-07 15:54] SnehaVeerakumar commented on #68
Yes it will be a fully working system with multi pages and responsiveness is checked

[2021-05-07 18:14] Aarti002 commented on #152
@ankitapuri i don't know why selected colors are not working i mean only black color works even after selecting other color?
Please help!
Thank you

[2021-05-07 18:38] ankitapuri commented on #152
your forked repo is some commits behind please update it

[2021-05-07 22:09] SnehaVeerakumar commented on #68
@arpit456jain I am delighted to see your dedication but please allow reviewers and maintainers to give their feedback first :)
I know you will be the first one to comment in my PR but please I request you to wait for sometime so that I can make relevant changes according to the reviewers. After that I will surely take up all your constructive critisims.

[2021-05-08 04:11] arpit456jain commented on #68
@SnehaVeerakumar  I have no interest in reviewing your PR. I just no like delaying the work you are assigned on this issue 12 days ago .
I know you are waiting for that PR to be merged but its make no sense @ankitapuri  had clear asked to make a separate home page.

And you and i both know to make this home page its a 10 to 15 min work so why to delay if i had not upload that video of my work I do

[2021-05-08 15:46] N-Shar-ma opened #158 "New Feature: Add a color input in the palette to allow user to select colors apart from the 12 standard ones"
## Screenshot:
![image](https://user-images.githubusercontent.com/68962290/117545273-e1716080-afd9-11eb-8d95-c86ddc5b3b1f.png)
![image](https://user-images.githubusercontent.com/68962290/117545294-fd750200-afd9-11eb-9e6c-20e77d2c82f6.png)

[2021-05-08 15:54] N-Shar-ma opened #159 "Custom Pencil Cursor instead of Crosshair for the Canvas"
## Link to Cursor demo
https://custom-cursor.com/en/collection/life-style/pencil

If you like this idea, I would love to add a custom pencil cursor exactly like the demo one

[2021-05-09 06:33] Aarti002 commented on #152
@ankitapuri i'm facing some issues i don't know why color pallets are not working in my forked repo, please give me some time
Thank you!

[2021-05-09 07:52] Aarti002 opened #161 "Responsiveness to the project"
Can i  add responsiveness to the project? @ankitapuri
Thank you!

[2021-05-09 13:46] Ananya-Misra opened #162 "Add Darkmode"
I want to add dark mode. I am a member of GSSOC21. Please assign this to me.

[2021-05-09 13:46] ishii22 opened #163 "Adding Contributor section in readme"
I will like to add a feature this will update the contributor list in read me automatically.

[2021-05-09 13:57] Ananya-Misra opened #164 "Add validation to login.html"
I want to validate the user's input (like whether the email is valid or the confirmed password matches the initial password) on the login.html page. Please assign this to me.

[2021-05-09 14:12] ishii22 opened #165 "Improvement in toggle bar"
I want to add a hover effect on the toggle bar and add icons for each item on the list.

[2021-05-09 14:42] ankitapuri commented on #163
Its actually not required . All contributors come itself on the side panel and it just consumes unnecessary space

[2021-05-09 14:42] #163 closed, assigned to nobody

[2021-05-09 17:05] #146 closed, assigned to rupal11

[2021-05-10 05:07] rupal11 opened #166 "Color fill tool"
**Screenshots**
If applicable, add screenshots to help explain your problem.
![2021-05-10_103038](https://user-images.githubusercontent.com/60324778/117608412-a018b680-b17b-11eb-8734-abee46ed3a59.png)

I want to implement color fill tool.

[2021-05-10 17:45] arpit456jain opened #167 "Migration to flask"
I have migrated whole website to flask and separate that one index.html page to two pages one is user_input and the other one is canvas.html

[2021-05-11 16:41] subhangi2731 commented on #127
is this issue open can I work on this? @ankitapuri

[2021-05-12 03:56] #131 closed, assigned to gnikita432

[2021-05-12 06:10] rupal11 opened #169 "Implement eraser"
The curser style does not changes when eraser tool is selected. So I want to add custom style to the same.
![2021-05-12_113802](https://user-images.githubusercontent.com/60324778/117926720-d2125000-b316-11eb-9b39-6f98c4a8bb8f.png)

Ignore the background color.

[2021-05-12 06:57] #167 closed, assigned to arpit456jain

[2021-05-12 07:29] arpit456jain opened #170 "Adding route of login.html and make it working"
Since the website is migrated to flask we can't open login.html directly we have to add urls in flask .

And i have to link the css and js properly because its in static folder now

[2021-05-12 07:30] arpit456jain opened #171 "Documentation required for the project"
Some changes are required since its migrated to flask we have to add a documentation to read me

[2021-05-12 08:24] arpit456jain opened #172 "Backend for sign up"
Writing the backend for sign up and adding proper validation so that email can be unique

[2021-05-12 08:26] arpit456jain opened #173 "Back-end for login"
Writing back end for login and proper validation after creating account in database mysql

[2021-05-12 08:41] arpit456jain commented on #170
@ankitapuri the work is done can i make a PR for this issue

[2021-05-12 10:39] arpit456jain commented on #170
@adarshvulli kindly assign me and allow me to make a Pr for this

[2021-05-13 04:13] #171 closed, assigned to arpit456jain

[2021-05-13 05:19] #68 closed, assigned to SnehaVeerakumar

[2021-05-13 05:45] arpit456jain opened #178 "Responsiveness in home page"
**Screenshots**
Current home is not responsive for all screen specially for mobile view . I am working on it to make it responsive

https://user-images.githubusercontent.com/55352601/118084780-e457c100-b3de-11eb-8a1b-4e0a0b3e0c0c.mp4

[2021-05-13 05:46] arpit456jain commented on #178
@ankitapuri kindly assign me this issue because until my Pr for rout is not merged i can't work on backend for login and sign up so i am free that's why i started working on it

[2021-05-13 07:05] #170 closed, assigned to arpit456jain

[2021-05-13 07:23] ankitapuri commented on #162
We already have that

[2021-05-13 07:23] #162 closed, assigned to nobody

[2021-05-13 07:27] ankitapuri opened #180 "Undo functionality"
**Screenshots**
If applicable, add screenshots to help explain your problem.

To add the Undo functionality in the drop-down which could work well on canvas

[2021-05-13 07:32] Ananya-Misra commented on #180
@ankitapuri I would like to work on this issue. Please assign this to me.

[2021-05-13 07:43] subhangi2731 commented on #180
@ankitapuri please assign me this issue

[2021-05-13 07:51] ankitapuri commented on #180
Hey Ananya , Subhangi had previously discussed with me for the issue in discord . So as of now I need to assign her , if she is stuck or unable to do I'll assign u

[2021-05-13 07:53] subhangi2731 commented on #180
@ankitapuri thankyou so much I will share u my work and make a pr

[2021-05-13 07:53] Ananya-Misra commented on #180
Okay.

[2021-05-14 05:46] arpit456jain opened #181 "Bug In Dark Mode"
It reset on refresh . when dark mode is activated it should be in dark mode even after refresh

https://user-images.githubusercontent.com/55352601/118227237-d28d2100-b4a5-11eb-9184-5fc41a09e00b.mp4

[2021-05-14 05:49] arpit456jain commented on #181
I just checked 2 lines of js is there only . for dark mode .

This is not how the dark mode works it need a well n good js

[2021-05-14 05:49] arpit456jain commented on #181
@ankitapuri assign me

[2021-05-14 16:35] rupal11 opened #183 "CSS for forget password in dark mode"
![2021-05-14_220030](https://user-images.githubusercontent.com/60324778/118300888-0d23a780-b500-11eb-9564-1ea43da4c167.png)

When dark mode is on, the forgot password card does not reflect it. I want to solve the problem. Kindly assign it to me

[2021-05-14 17:08] #181 closed, assigned to arpit456jain

[2021-05-14 21:37] sanjitcodes opened #184 "Optimize the repetitive code"
**Screenshots**
If applicable, add screenshots to help explain your problem.

To optimize the repetitive code in the file
pixelvibe/template/loader.html

![Screenshot 2021-05-15 at 3 04 16 AM](https://user-images.githubusercontent.com/59444668/118333957-4cff8480-b52a-11eb-890d-22365aae818e.png)
![Screenshot 2021-05-15 at 3 04 29 AM](https://user-images.githubusercontent.com/59444668/118333967-5093

[2021-05-14 21:39] sanjitcodes commented on #184
I would like to work on this issue. Kindly assign it to me as a part of GSSoC.
Thank you!

[2021-05-15 11:11] #172 closed, assigned to arpit456jain

[2021-05-15 16:53] #173 closed, assigned to nobody

[2021-05-15 17:13] arpit456jain opened #189 "Logout feature for user"
Currently there is no Logout feature for user .
I will add the backend for logout and

I will also take care when user is login , on home page it will show logout and if its not log in then it will show login/signup
on navbar

[2021-05-15 18:01] #178 closed, assigned to arpit456jain

[2021-05-15 19:51] arpit456jain commented on #142
are you working on this issue @gnikita432 ??

[2021-05-16 04:24] arpit456jain opened #192 "Our Teams Section and new Footer"
**Screenshots**
If applicable, add screenshots to help explain your problem.
Our Teams Section and new Footer

currently its like this
![screencapture-127-0-0-1-5000-2021-05-16-09_54_34](https://user-images.githubusercontent.com/55352601/118385478-c384ab00-b62c-11eb-8c27-f835d5e03eb6.png)

[2021-05-16 04:34] arpit456jain opened #194 "Contact Us Section on home page with backend"
Contact Us/Feedback  Section on home page with backend

[2021-05-16 04:47] ankitapuri commented on #95
Its  done in flask

[2021-05-16 04:47] #95 closed, assigned to nobody

[2021-05-16 04:47] #120 closed, assigned to nobody

[2021-05-16 04:48] #133 closed, assigned to nobody

[2021-05-16 04:48] #136 closed, assigned to nobody

[2021-05-16 04:50] ankitapuri commented on #158
@N-Shar-ma  so u will add a separate color palette down in order to select other colors ?

[2021-05-16 04:50] #164 closed, assigned to nobody

[2021-05-16 06:23] #159 closed, assigned to N-Shar-ma

[2021-05-16 10:09] N-Shar-ma commented on #158
@ankitapuri No, ony 1 input element of type color will be added as the last row in the color palette grid. Please see the first screenshot I've attached above, that is how the change will look.

The 2nd screenshot shows how a standard input of type color works, so it shows what happens on clicking an input of type color

[2021-05-16 11:04] ankitapuri commented on #158
yeah that's what I meant the remaining would remain same just the other one of all the variant colors

[2021-05-16 11:48] N-Shar-ma commented on #158
So should I work on this? @ankitapuri

[2021-05-16 13:34] #119 closed, assigned to nobody

[2021-05-16 13:35] #141 closed, assigned to nobody

[2021-05-16 13:38] #161 closed, assigned to nobody

[2021-05-16 15:08] #127 closed, assigned to CMELAKKIA

[2021-05-16 15:16] #192 closed, assigned to arpit456jain

[2021-05-16 16:27] arpit456jain opened #197 "Back to top button on home page and formatting the home.html"
Back to top button on home page and formatting the home.html

And adding proper comments to all sections
In home page and its css file also
And some enhancements in teams section
Changing profile pic and git hub profile link

[2021-05-16 17:49] #194 closed, assigned to arpit456jain

[2021-05-16 18:15] #189 closed, assigned to arpit456jain

[2021-05-16 23:20] subhangi2731 opened #198 "Setting up eslint and making the code prettier"
I want to make the code prettier and set up eslint and lint the code

[2021-05-16 23:21] subhangi2731 commented on #198
@ankitapuri please assign this issue to me

[2021-05-17 05:29] arpit456jain opened #200 "Dark mode in home page with new and responsive toggle button"
Dark mode in home page with new and responsive toggle button

[2021-05-17 05:29] arpit456jain commented on #200
@ankitapuri please assign me this issue

[2021-05-17 12:33] ankitapuri commented on #200
can u show the toggle button which u are actually using ?

[2021-05-17 12:33] ankitapuri commented on #198
We don't need it as of now @subhangi2731  , will look into it later

[2021-05-17 12:38] #158 closed, assigned to N-Shar-ma

[2021-05-17 12:39] #197 closed, assigned to arpit456jain

[2021-05-17 12:59] arpit456jain commented on #200
https://user-images.githubusercontent.com/55352601/118492514-b60b1600-b73d-11eb-8f36-e625a864b3de.mp4

@ankitapuri

[2021-05-17 13:43] ankitapuri opened #201 "Success message after sign up"
**Screenshots**
If applicable, add screenshots to help explain your problem.

Create a flash message on login.html displaying u have successfully logged in

[2021-05-17 14:47] arpit456jain opened #203 "Sweet Alert Confirmation Before Logout"
Sweet Alert Confirmation Before Logout like this
<img width="361" alt="alert" src="https://user-images.githubusercontent.com/55352601/118508508-e312f500-b74c-11eb-98f0-4e81a066d6f1.png">

It will enhance the UI experience  for the user

[2021-05-17 14:48] arpit456jain commented on #203
It will pop up when user click on logout its really very cool :)

[2021-05-17 18:14] #200 closed, assigned to arpit456jain

[2021-05-17 19:43] N-Shar-ma opened #205 "Improve UI of Color Palette"
### Screenshot
![image](https://user-images.githubusercontent.com/68962290/118546525-ee463080-b70c-11eb-86a6-e9fedf2f43d1.png)

### Changes Proposed:
- Smokewhite background color to match with the dropdown toggle button, for a consistent look
- Rounded corners for each color
- Greenish-blue default value for color input (instead of default black)
- Pointer cursor for the color input too, like all

[2021-05-18 04:19] arpit456jain opened #206 "New And Better Our Teams Section"
New And Better Our Teams Section It  will be 10 times better than the current one :)

[2021-05-18 04:36] arpit456jain opened #208 "Adding Navbar in canvas.html And moving Download button in navbar"
Adding Navbar in canvas.html And moving all buttons in navbar

[2021-05-18 06:17] #203 closed, assigned to arpit456jain

[2021-05-18 11:21] arpit456jain opened #210 "Cleaning of canvas.html and adding proper comments to css and js"
Cleaning of canvas.html required since there is lots of unnecessary CSS and js  and adding proper comments to css and js

[2021-05-18 11:22] arpit456jain commented on #210
@ankitapuri kindly assign me this issue

[2021-05-18 11:37] arpit456jain opened #211 "Cool Show Password Feature in Login and SignUp"
Cool Show Password Feature in Login and SignUp .
Its very frustrating some time when user forgot what he had enter that's why its a very good and necessary feature for login / signup forms.

[2021-05-18 11:38] arpit456jain commented on #211
@ankitapuri please assign me

[2021-05-18 12:10] gnikita432 commented on #142
No @arpit456jain you can take this issue.

[2021-05-18 12:23] arpit456jain commented on #142
No i had not commented it for taking it up😅 i was asking because we have a plan to migrate this project into django soon so i am waiting for all PRs got merged 🙂

@ankitapuri i think you can add label for up for grabs :)

[2021-05-18 12:28] #206 closed, assigned to arpit456jain

[2021-05-18 12:29] #208 closed, assigned to arpit456jain

[2021-05-18 12:31] ankitapuri commented on #184
We are not including this file in our webpage , its just added as an extra

[2021-05-18 12:31] #184 closed, assigned to nobody

[2021-05-18 15:03] #198 closed, assigned to nobody

[2021-05-18 17:03] #142 closed, assigned to nobody

[2021-05-18 17:05] #205 closed, assigned to N-Shar-ma

[2021-05-18 17:05] arpit456jain commented on #180
@subhangi2731 are you working on this issue?

[2021-05-18 17:17] subhangi2731 commented on #180
@arpit456jain yes I am working on it will make a pr by tomorrow

[2021-05-18 17:38] #211 closed, assigned to arpit456jain

[2021-05-18 17:48] arpit456jain commented on #166
@ankitapuri @rupal11 please close this issue since PR got merged

[2021-05-18 17:48] arpit456jain commented on #128
@CMELAKKIA are you working on this issue ?

[2021-05-18 17:52] arpit456jain commented on #180
ok @subhangi2731 but please make sure you start working after PR 215 got merged otherwise you will face merge conflicts

[2021-05-18 17:52] CMELAKKIA commented on #128
@arpit456jain  Im having exams now so  it will take time for me to complete  . If you want to work on this i'll unassign myself.

[2021-05-18 17:52] arpit456jain commented on #180
since i had moved all css to a separate file canvas.css

[2021-05-18 17:56] arpit456jain commented on #183
hey @rupal11 please try to complete it ASAP :)

[2021-05-18 17:57] subhangi2731 commented on #180
@arpit456jain ohh okay i will do that after your pr gets merged

[2021-05-18 17:59] arpit456jain commented on #128
no @CMELAKKIA that's fine

[2021-05-18 18:01] arpit456jain commented on #128
i was asking because i had done some major changes in canvas.html so if you were working on it you will surely face merge conflicts ...

[2021-05-18 18:17] CMELAKKIA commented on #128
I will look into it when i start working on this

[2021-05-18 19:00] #210 closed, assigned to arpit456jain

[2021-05-19 00:32] arpit456jain opened #216 "Moving Drop Down in Navbar"
Moving Drop Down in Navbar which will  be full responsive

[2021-05-19 00:51] arpit456jain opened #218 "Adding Preloader"
Adding Preloader which was previously present

[2021-05-19 01:07] arpit456jain opened #220 "Adding a Wave Effect"
Adding a Wave Effect like this
<img width="960" alt="wave" src="https://user-images.githubusercontent.com/55352601/118741776-b655ff00-b86c-11eb-9594-0f7cee14afd4.png">

[2021-05-19 04:16] #166 closed, assigned to rupal11

[2021-05-19 04:39] #220 closed, assigned to arpit456jain

[2021-05-19 04:49] #218 closed, assigned to arpit456jain

[2021-05-19 05:11] rupal11 commented on #183
Sure. I will do it.

[2021-05-19 05:15] #216 closed, assigned to arpit456jain

[2021-05-19 06:54] Aarti002 commented on #152
why i am not able to  fetch new changes, even after cloning again? @ankitapuri

[2021-05-19 06:55] Aarti002 commented on #152
as whole project view has been changed

[2021-05-19 07:07] subhangi2731 commented on #201
@ankitapuri please assign me this issue

[2021-05-19 11:34] saatviknagpal opened #223 "Add a custom scrollbar"
I would like to add a custom scrollbar that will match the color of the navbar and the background of the homepage.
If needed, I can add a scrollbar to the canvas section too.
Kindly assign this issue to me.

**Screenshots**
![Screenshot (30)](https://user-images.githubusercontent.com/61618767/118805787-f4324200-b8c3-11eb-8c64-2edcc0d4235f.png)

[2021-05-19 11:56] ankitapuri commented on #152
we have migrated to flask

[2021-05-19 15:06] #169 closed, assigned to rupal11

[2021-05-19 15:41] arpit456jain opened #226 "restore the previous drop down"
moving tools drop down to back at left side of the canvas
it will look like this
<img width="960" alt="tool" src="https://user-images.githubusercontent.com/55352601/118842427-d1655500-b8e6-11eb-91c2-93a4c0b49db1.png">

[2021-05-19 17:07] #226 closed, assigned to arpit456jain

[2021-05-20 04:19] arpit456jain opened #229 "Migration to Django"
Migration to Django

[2021-05-20 04:53] rupal11 commented on #223
Don't you think, the scroll bar will be indistinguishable because the gif is also of same color. Why not, try different color?

[2021-05-20 05:04] saatviknagpal commented on #223
@rupal11 yeah you're right, what color do you suggest then?

[2021-05-20 05:09] rupal11 commented on #223
grey, #DDA6A2(create a gradient from light to dark, it will look good), #339EA6,#FADA7C

Try different color and which ever suits, use it.

[2021-05-20 05:15] saatviknagpal commented on #223
but then it would look like a normal scrollbar

[2021-05-20 05:19] rupal11 commented on #223
I have added more colors.

[2021-05-20 05:22] saatviknagpal commented on #223
Alright, Thanks!

[2021-05-20 06:47] #229 closed, assigned to arpit456jain

[2021-05-20 07:05] arpit456jain opened #231 "Complete Login / sign up back end"
Complete Login / sign up back end

[2021-05-20 07:06] arpit456jain opened #232 "Bug in preloader"
Preloader is not covering whole page

[2021-05-20 17:55] #231 closed, assigned to arpit456jain

[2021-05-20 18:01] arpit456jain opened #237 "Changes Required in Read Me for django setup"
Changes Required in Read Me for django setup

[2021-05-20 18:16] ankitapuri commented on #237
the commands for the migrations and final running of the server

[2021-05-20 18:18] arpit456jain opened #239 "A separate New Contact Us page"
A separate New Contact Us page

[2021-05-20 18:56] #237 closed, assigned to arpit456jain

[2021-05-20 19:03] #232 closed, assigned to arpit456jain

[2021-05-20 19:30] arpit456jain opened #241 "backEnd for Contact us"
backEnd for Contact us

[2021-05-21 05:32] #239 closed, assigned to arpit456jain

[2021-05-21 06:13] arpit456jain opened #244 "there must be a logout option in navbar in canvas page also ."
there must be a logout option in navbar in canvas page also .

something like when user clicks on his/her name he gets the option of logout !

[2021-05-21 10:31] Aarti002 commented on #152
i'm not able to get new features please help @ankitapuri

[2021-05-21 12:31] ankitapuri opened #246 "PEP8 standards"
**Screenshots**
If applicable, add screenshots to help explain your problem.

Mention in the readme about the PEP8 standards that contributors must follow

[2021-05-21 12:43] #241 closed, assigned to arpit456jain

[2021-05-21 13:05] #244 closed, assigned to arpit456jain

[2021-05-21 13:06] ankitapuri commented on #152
just rebase your branch , and use the commands as shown in the readme .

[2021-05-21 17:23] arpit456jain opened #247 "Adding the common navbar in contact page"
Adding the  common navbar in contact page

[2021-05-21 17:41] arpit456jain opened #249 "template inheritance required"
since now we have more than 3 pages in our website that's why we need template inheritance so that we don't have to write same code again and again

[2021-05-21 18:05] #247 closed, assigned to arpit456jain

[2021-05-21 18:16] arpit456jain opened #250 "new Sign In page"
**new Sign Up page**
![screencapture-127-0-0-1-8000-login2-2021-05-21-23_45_38](https://user-images.githubusercontent.com/55352601/119181001-a9185a80-ba8e-11eb-8152-91536a8cb07f.png)

[2021-05-21 18:16] arpit456jain commented on #250
its fully responsive

[2021-05-21 18:51] #223 closed, assigned to saatviknagpal

[2021-05-21 18:51] arpit456jain opened #253 "Error/Success msg in Contact section"
Error/Success msg in Contact section

[2021-05-22 10:55] AshuKV commented on #246
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-05-22 12:51] #253 closed, assigned to arpit456jain

[2021-05-22 16:16] #183 closed, assigned to rupal11

[2021-05-22 16:19] rupal11 opened #255 "404 page"
Adding a 404 page

[2021-05-22 17:11] arpit456jain commented on #180
@subhangi2731 are you working on this. Please update. Or give chances others to work on it .

[2021-05-22 18:35] ankitapuri commented on #180
@subhangi2731 please make the PR by tomorrow , we also need to give chance to others

[2021-05-22 18:58] #250 closed, assigned to nobody

[2021-05-22 19:05] subhangi2731 commented on #180
@ankitapuri I am working on this but I m getting errors I am getting stuck please help me out

[2021-05-22 19:05] subhangi2731 commented on #180
@arpit456jain I am working on this but I am getting stuck for which I need some help

[2021-05-22 19:08] arpit456jain commented on #180
@subhangi2731  You can discuss this on discord server of Pixelvibe i will try to solve your problem

[2021-05-22 19:11] subhangi2731 commented on #180
@arpit456jain thank u so much for reaching out. I will ask tomorrow morning the error which i am facing please help me out

[2021-05-23 03:43] arpit456jain opened #257 "404 Error handling code in python with sample 404 page"
404 Error handling code in python

[2021-05-23 03:55] arpit456jain opened #258 "New Sign up page"
New Sign up page

[2021-05-23 04:16] arpit456jain opened #260 "Validations in Login"
Validations in Login

[2021-05-23 04:18] #249 closed, assigned to nobody

[2021-05-23 05:25] subhangi2731 commented on #180
![image](https://user-images.githubusercontent.com/53938490/119249341-67ce9a80-bbb5-11eb-858b-bc0918c41a97.png)

[2021-05-23 05:26] subhangi2731 commented on #180
@ankitapuri @arpit456jain I am facing this error please help me not able to create virtual env

[2021-05-23 05:27] subhangi2731 commented on #180
i know how to this issue but i am not able to run and setup

[2021-05-23 05:49] arpit456jain commented on #180
@subhangi2731 just follow these steps
1 delete your forked repo and forked it again
2 delete copy on your system and git clone again
3 no need of making virtual env for now since we are not using any external dependency.
4 open terminal run
Py.exe manage.py migrate
py.exe manage.py runserver

[2021-05-23 05:53] subhangi2731 commented on #180
@arpit456jain I did that it got resolved sending the pr still tysm for helping

[2021-05-23 07:06] subhangi2731 opened #263 "Set default canvas size"
The placeholder text is in dark, so it seems pre-filled, but which isn't. users click on submit and then get a message to enter value in textboxes. so, instead of placeholder, set default value as 16 in textbox. on submit, a canvas with 16*16 size should be created.
![Screenshot from 2021-05-23 10-51-43](https://user-images.githubusercontent.com/53938490/119251266-6efca500-bbc3-11eb-9f40-215b981e6

[2021-05-23 07:06] subhangi2731 commented on #263
@ankitapuri please assign this issue to me. I want to work on this

[2021-05-23 08:32] #180 closed, assigned to subhangi2731

[2021-05-23 10:18] arpit456jain commented on #263
@subhangi2731 as of now , user can't go to canvas page without entering height and width . so no need of giving default size

[2021-05-23 10:35] subhangi2731 commented on #263
ohh ok @arpit456jain i will close this issue

[2021-05-23 10:38] #263 closed, assigned to nobody

[2021-05-23 10:41] arpit456jain commented on #263
@subhangi2731 can you add a feature in canvas page of Changing brush size ??
Or any other feature ?

[2021-05-23 12:01] #201 closed, assigned to subhangi2731

[2021-05-23 12:15] #258 closed, assigned to arpit456jain

[2021-05-23 12:26] subhangi2731 commented on #128
@ankitapuri please assign me this issue

[2021-05-23 12:29] subhangi2731 commented on #263
@arpit456jain sure i can do that I will go for it then thanks for suggesting

[2021-05-23 13:03] arpit456jain opened #265 "validations in sign up"
validations in sign up

[2021-05-23 18:28] subhangi2731 opened #268 "Show current color"
show the currently selected color in "pick a color". currently selected brush colour is not displayed so to display that I want to work

[2021-05-23 18:28] subhangi2731 commented on #268
@ankitapuri please assign this issue to me

[2021-05-24 02:21] ankitapuri commented on #268
@subhangi2731 , can u please explain , what will you add in this

[2021-05-24 03:57] #260 closed, assigned to arpit456jain

[2021-05-24 05:37] subhangi2731 commented on #268
@ankitapuri I will add a square which will show the currently selected colour and then the above please assign me

[2021-05-24 06:51] #265 closed, assigned to arpit456jain

[2021-05-24 11:29] arpit456jain opened #271 "Art Gallery Section on Home page"
Art Gallery Section on Home page

[2021-05-24 11:41] arpit456jain opened #273 "bug in Responsiveness of user input page"
bug in Responsiveness of user input page
<img width="960" alt="bug" src="https://user-images.githubusercontent.com/55352601/119342728-1f95a200-bcb3-11eb-8b37-af965e32cd92.png">

[2021-05-24 11:42] arpit456jain commented on #273
@ankitapuri please assign me this issue

[2021-05-24 15:50] #257 closed, assigned to nobody

[2021-05-24 15:51] #273 closed, assigned to arpit456jain

[2021-05-24 17:53] arpit456jain opened #275 "Integrate bootstrap alert in login and signup and adding template inheritance"
Integrate bootstrap alert in login and signup and adding template inheritance

[2021-05-24 17:57] #271 closed, assigned to nobody

[2021-05-24 18:43] arpit456jain opened #277 "show password feature in login and sign up"
show password feature in login and sign up

[2021-05-25 05:03] arpit456jain opened #278 "Redirect user to home page first and login required for canvas page"
Redirect user to home page first and login required for canvas page

[2021-05-25 05:15] #278 closed, assigned to nobody

[2021-05-25 05:35] #275 closed, assigned to arpit456jain

[2021-05-25 14:51] arpit456jain opened #281 "Basic Layout and Pipeline for password reset feature or implementation of forgot password"
Basic Layout and Pipeline for password reset feature or implementation of  forgot password

[2021-05-25 16:45] #128 closed, assigned to subhangi2731

[2021-05-26 06:36] #277 closed, assigned to arpit456jain

[2021-05-26 06:36] #281 closed, assigned to nobody

[2021-05-26 10:23] arpit456jain opened #284 "Adding Image in Gallery Dynamically from admin Panel"
Adding Image in Gallery Dynamically from admin Panel

[2021-05-26 12:50] arpit456jain opened #286 "added password reset feature through otp verification"
password reset feature through otp verification

[2021-05-26 15:17] ankitapuri commented on #246
@AshuKV are u working on it ?

[2021-05-26 15:18] #284 closed, assigned to arpit456jain

[2021-05-26 16:24] ankitapuri commented on #268
@subhangi2731 r u working on it ?

[2021-05-26 16:26] subhangi2731 commented on #268
@ankitapuri yes doing this will send a pr

[2021-05-26 16:55] arpit456jain opened #288 "responsiveness of canvas page in mobile view"
responsiveness of canvas page in mobile view
![screencapture-127-0-0-1-8000-paint-2021-05-26-21_56_31](https://user-images.githubusercontent.com/55352601/119700798-4994c300-be71-11eb-9cca-74c1096f30ed.png)

[2021-05-26 16:55] arpit456jain commented on #288
@ankitapuri please assign me

[2021-05-26 17:15] AshuKV commented on #246
I am working on it, will send a PR soon.

[2021-05-26 17:46] #286 closed, assigned to arpit456jain

[2021-05-26 18:26] ankitapuri commented on #246
I have already assigned u 4 days back , please try doing it asap .

[2021-05-26 18:33] #288 closed, assigned to arpit456jain

[2021-05-27 07:29] arpit456jain opened #294 "Adding images to gallery through databse"
Adding images to gallery through database

[2021-05-27 09:35] #268 closed, assigned to subhangi2731

[2021-05-27 09:42] #294 closed, assigned to nobody

[2021-05-27 09:42] #255 closed, assigned to rupal11

[2021-05-27 09:54] arpit456jain opened #296 "Adding database to git ignore"
Adding database to git ignore

[2021-05-27 10:00] #296 closed, assigned to nobody

[2021-05-27 10:00] #152 closed, assigned to Aarti002

[2021-05-27 10:30] arpit456jain opened #298 "Handling exceptions and validations in password reset feature"
Handling exceptions and validations in password reset feature

[2021-05-27 14:03] arpit456jain opened #304 "Sending contact us response to admin email"
Sending contact us response to admin email as well as database

[2021-05-27 16:23] #298 closed, assigned to arpit456jain

[2021-05-27 17:12] #304 closed, assigned to arpit456jain

[2021-05-27 19:04] arpit456jain opened #306 "Adding option for admin panel only for admin"
Adding option for admin panel only for admin

[2021-05-28 03:36] #306 closed, assigned to arpit456jain

[2021-05-28 05:57] arpit456jain opened #308 "show Password in Password Reset Page and make code re useable"
show Password in Password Reset Page and make code re useable

[2021-05-28 06:39] arpit456jain opened #310 "adding PixelVibe logo and dark mode toggle button in login/signup/otp"
adding PixelVibe logo and dark mode toggle button in login/signup/otp and all

[2021-05-28 09:37] arpit456jain opened #312 "Adding some images in Gallery hard coded"
Adding some images in Gallery hard coded

[2021-05-28 11:40] #312 closed, assigned to nobody

[2021-05-28 11:46] #310 closed, assigned to nobody

[2021-05-28 14:08] arpit456jain opened #314 "added brush size feature and fixed the bug in it"
added brush size feature and fixed the bug in it

[2021-05-28 14:40] #314 closed, assigned to arpit456jain

[2021-05-28 16:05] arpit456jain opened #316 "change Password Feature"
change Password Feature for logged in user

[2021-05-28 17:25] #316 closed, assigned to nobody

[2021-05-28 17:26] #308 closed, assigned to arpit456jain

[2021-05-28 17:43] arpit456jain opened #318 "added what's app widget"
**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-05-28 17:47] #318 closed, assigned to arpit456jain

[2021-05-28 18:03] arpit456jain opened #320 "bugs"
1. missing css of toggle button in contact page
2. overlapping of back to top and what's app widget
3. background color of back to top is not matching the theme of website.

[2021-05-28 18:21] #320 closed, assigned to nobody

[2021-05-28 18:34] adarshvulli opened #323 "converting of the uploaded image to pixelart format"
- Add a new option of the image upload in the dropdown of the paint page
- Once the image uploaded, it has to convert the image and display it in the pixel art format

[2021-05-29 13:25] arpit456jain opened #324 "Security Feature : Email Alert"
Security Feature : Email Warning if someone else  is trying to login in my account

[2021-05-29 13:46] #324 closed, assigned to arpit456jain

[2021-05-29 13:49] ankitapuri opened #326 "Bug in Bootstrap Alerts"
**Screenshots**
If applicable, add screenshots to help explain your problem.

The bootstrap alerts can't be cancelled manually

[2021-05-29 13:51] arpit456jain commented on #326
@ankitapuri i can solve this bug please assign me

[2021-05-29 13:51] arpit456jain opened #327 "Exporting Contact Response as csv file"
Exporting Contact Response as csv file

[2021-05-29 13:58] ankitapuri commented on #326
Okay

[2021-05-29 17:10] #326 closed, assigned to arpit456jain

[2021-05-29 17:20] #327 closed, assigned to nobody

[2021-05-29 19:23] rupal11 opened #330 "Adding darkmode and changing the current color scheme of ContactUs page"
**Screenshots**
Light Mode
![2021-05-29_152020](https://user-images.githubusercontent.com/60324778/120082584-620b1480-c0e1-11eb-9272-5338eebe847e.png)

Dark Mode
![2021-05-29_153222](https://user-images.githubusercontent.com/60324778/120082596-6a634f80-c0e1-11eb-8eff-b79b62c6fc23.png)

[2021-05-30 04:55] arpit456jain opened #332 "bug and enhancements"
bug : preloader is giving an error in console
<img width="960" alt="errir" src="https://user-images.githubusercontent.com/55352601/120092307-8beb2800-c12f-11eb-88a0-42a8576d090a.png">

enhancements:

1.hover Effects in navbar
2 adding a sign in with google , facebook button in forms.
3.moving css internal to external

[2021-05-30 09:16] #332 closed, assigned to arpit456jain

[2021-05-30 11:58] arpit456jain opened #335 "adding regex to check if email is valid or not"
adding regex to check if email is valid or not

[2021-05-30 12:13] arpit456jain opened #337 "download csv feature"
download csv feature

[2021-05-30 12:25] arpit456jain opened #339 "Adding favicons to all pages and make the path relative to static"
Adding favicons to all pages and make the path relative to static

[2021-05-30 12:38] #335 closed, assigned to nobody

[2021-05-30 12:47] #337 closed, assigned to nobody

[2021-05-30 13:03] #339 closed, assigned to nobody

[2021-05-30 14:35] #246 closed, assigned to AshuKV

[2021-05-30 14:50] #330 closed, assigned to rupal11

[2021-05-30 15:19] arpit456jain opened #341 "Some options are missing in navbar in contact and canvas page"
Some options are missing in navbar in contact and canvas page
like
1 change password
2 admin

and there is small bug also
<img width="960" alt="sq" src="https://user-images.githubusercontent.com/55352601/120109767-7f46ee00-c188-11eb-8a90-d84275951eb7.png">

[2021-05-30 16:36] #341 closed, assigned to nobody

[2021-05-30 17:05] arpit456jain opened #343 "Adding Password Validations in front -end in sign up"
Adding Password Validations in front -end in sign up

[2021-05-30 18:06] arpit456jain opened #345 "Adding theme Panel which is on user input to canvas page"
Adding theme Panel which is on user input  to canvas page

[2021-05-30 18:12] #343 closed, assigned to arpit456jain

[2021-05-30 19:04] #345 closed, assigned to arpit456jain

[2021-05-31 03:16] arpit456jain opened #347 "logout is not working in contact page"
**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-05-31 03:51] #347 closed, assigned to nobody

[2021-05-31 03:52] arpit456jain opened #349 "bug forgot password"
bug forgot password

[2021-05-31 03:54] arpit456jain opened #351 "when Password changes user should get an email about it"
when Password changes user should get  an email about it that his/her password changed

[2021-05-31 04:01] #349 closed, assigned to arpit456jain

[2021-05-31 04:18] arpit456jain opened #353 "show password in change password page"
show password in change password page

[2021-05-31 05:08] #351 closed, assigned to arpit456jain

[2021-05-31 05:27] #353 closed, assigned to arpit456jain

[2021-05-31 05:54] arpit456jain opened #355 "Password validations in backend in change password"
Password validations in backend in change password

[2021-05-31 06:00] #355 closed, assigned to nobody

[2021-05-31 06:00] #165 closed, assigned to nobody

[2021-05-31 06:03] arpit456jain opened #357 "added password validations in front end of change password"
added password validations in front end of change password

[2021-05-31 06:26] #357 closed, assigned to nobody

[2021-05-31 06:47] arpit456jain opened #359 "Password Validations in front-endof reset password"
Password Validations in front-endof reset password

[2021-05-31 07:07] arpit456jain opened #361 "update navbar in canvas with a new button change dimensions"
update navbar in canvas with a new button change dimensions

[2021-05-31 07:40] #359 closed, assigned to nobody

[2021-05-31 08:00] #361 closed, assigned to nobody

[2021-05-31 09:15] arpit456jain opened #363 "new Routing for paint as requested"
new Routing for paint as requested

[2021-05-31 10:10] arpit456jain opened #365 "added a layout for project structure in read me"
added a layout for project structure in read me

[2021-05-31 10:41] arpit456jain opened #367 "show selected colour"
**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-05-31 11:06] #365 closed, assigned to nobody

[2021-05-31 11:13] #367 closed, assigned to nobody

[2021-05-31 11:22] arpit456jain opened #369 "Project Structure updated"
Project Structure updated

[2021-05-31 11:22] #363 closed, assigned to nobody

[2021-05-31 11:27] #369 closed, assigned to nobody

[2021-05-31 11:40] arpit456jain opened #371 "added a restriction in height and width"
added a restriction in height and width

[2021-05-31 12:06] arpit456jain opened #373 "add features to read me"
add features to read me

[2021-05-31 12:15] #373 closed, assigned to nobody

[2021-05-31 12:22] #371 closed, assigned to nobody

[2021-05-31 12:26] arpit456jain opened #375 "moved project structure to top after tech stack"
moved project structure to top  after tech stack

[2021-05-31 13:02] arpit456jain opened #377 "Adding bootstrap Alert in user input"
Adding bootstrap Alert in user input

[2021-05-31 14:13] #377 closed, assigned to arpit456jain

[2021-05-31 14:14] #375 closed, assigned to arpit456jain

[2021-05-31 14:29] arpit456jain opened #379 "if height and width is less than 0 or float"
**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-05-31 14:35] arpit456jain opened #381 "what's app widget is showing over the preloader"
what's app widget is showing over the preloader

[2021-05-31 14:44] #381 closed, assigned to nobody

[2021-05-31 14:46] #379 closed, assigned to nobody

[2021-05-31 14:47] arpit456jain opened #383 "after logout saved values of width and height must be removed"
after logout saved values of width and height  must be removed

[2021-05-31 15:03] #383 closed, assigned to nobody

[2021-05-31 15:53] arpit456jain opened #385 "Adding gifs of website as demo"
Adding gifs of website as demo

[2021-05-31 15:56] arpit456jain opened #387 "SMTP bug in contact"
SMTP bug in contact

[2021-05-31 16:36] #385 closed, assigned to nobody

[2021-05-31 16:36] arpit456jain opened #389 "Proper spacing and padding in navbar on canvas page"
Proper spacing and padding in navbar on canvas page

[2021-05-31 16:41] #387 closed, assigned to nobody

[2021-05-31 17:50] #389 closed, assigned to nobody

[2021-06-12 06:52] #323 closed, assigned to nobody

[2021-08-25 15:00] abhi-bhatra opened #397 "Sign In buttons enhancement"
**Summary**
Sign In buttons, like Google and Facebook had very dark labels, which makes the text unreadable.

**Actual Behaviour**

<img width="945" alt="actual" src="https://user-images.githubusercontent.com/63901956/130814187-169ec51b-20d4-4296-915d-a3003f239117.png">

**Expected Behaviour**

<img width="946" alt="expected" src="https://user-images.githubusercontent.com/63901956/130814315-fa0a91

[2021-08-30 07:37] ankitapuri commented on #397
@abhi-bhatra I will review it once , sorry for the delay

[2021-08-30 07:39] #397 closed, assigned to nobody

[2021-12-03 04:45] subhamgcon opened #402 "Changes in the README file"
At step 4: Setting up Project, after activating the Virtual Environment by these commands, "source env/bin/activate"
The next steps are installation of requirements.txt for Django, but a step of Change Directory is missing because without being in the pixelvibe directory the command doesn't execute. So adding a code snippet of cd pixelvibe would be great.

[2021-12-05 07:53] nirban256 opened #403 "Site not found"
**Screenshots**
On clicking the deployment it shows error 404: Page not found
![Screenshot from 2021-12-05 13-22-58](https://user-images.githubusercontent.com/74231771/144738444-3799872d-447c-486b-8cc1-06ab49afbc2f.png)

[2021-12-05 08:58] ankitapuri commented on #403
Its not deployed

[2021-12-05 08:58] #403 closed, assigned to nobody

[2021-12-05 09:09] nirban256 commented on #403
ok

[2021-12-06 04:49] 7saikat7 opened #404 "Add A Preloader In the Website"
As of now, the website is loading normally with a preloader, make changes in the current preloader which should match the overall design of the website also with a faded effect.

[2021-12-06 05:05] 7saikat7 opened #405 "Design Changes in /paint/ page"
In the paint page, we need some kind of better design in terms of the position of the pencil size, delete buttons, so you can come up with a better design format for that page that will be more user-friendly and also handy to use.

**Do not forget to attach a screenshot of your new design with the PR **

[2021-12-06 11:18] #402 closed, assigned to nobody

[2021-12-06 11:19] ankitapuri opened #406 "Changes in the Readme"
In the readme add about the ongoing open source program .

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-12-07 10:39] erbaibhav opened #407 "Adding google authentication for login"
@ankitapuri Please assign this task to me! I will add google authentication for login page which will be easier for person to login
Thanks

[2021-12-07 13:20] Amanmawar17 commented on #405
i'm interested

[2021-12-07 18:32] 7saikat7 commented on #407
Being a participant you can't create a issue

[2021-12-07 18:32] #407 closed, assigned to nobody

[2021-12-08 04:24] ankitapuri commented on #407
@baibhav3211 I already have a working google authentication

[2021-12-08 04:31] ankitapuri commented on #405
@Amanmawar17 I'll assign it to u . Deadline - 11/12/2021

[2021-12-08 11:44] iamsandeepshekhawat commented on #406
Please assign the issue to me. and can you tell me which type of problems explain in screenshot.

[2021-12-10 05:12] subhamgcon commented on #406
Can I add the PR for this?

[2021-12-11 06:57] ankitapuri commented on #405
@Amanmawar17 any updates?

[2021-12-11 09:15] Amanmawar17 commented on #405
@ankitapuri i am working.....

[2021-12-11 11:10] Amanmawar17 commented on #405
This issues is taking more time as specified deadline. So I request to extend deadline.

[2021-12-11 11:15] 7saikat7 commented on #405
Ok, @Amanmawar17, you can take 2 more days, but please try to finish it within that only.

[2021-12-11 14:58] #406 closed, assigned to subhamgcon

[2021-12-11 14:59] 7saikat7 commented on #405
Create PR only in dev branch

[2021-12-15 19:08] 7saikat7 opened #409 "Dockerize The Project"
Dockerize the project and also create proper docs for it and add it to a section of the readme.md file

[2021-12-16 19:07] AryanShinde commented on #405
Hey, If this issue is not solved yet, I am interested in it. I'll share a Figma design before coding it directly.

[2021-12-17 05:07] ankitapuri commented on #405
@AryanShinde currently @Amanmawar17 is working on it . if he's unable to do u can take it.

@Amanmawar17 try doing it by this Sunday .

[2021-12-17 05:11] ankitapuri opened #410 "Change color of Pre-loader"
The existing color is complete pink .Change color of Pre-loader to such which matches with theme of the project.
**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-12-17 05:54] AryanShinde commented on #410
Hey, I'll try to do this, will share a prototype design shortly.

[2021-12-17 07:09] RishiKumarRay commented on #409
Hi , Assign me this i would like to work on this

[2021-12-17 07:45] AryanShinde commented on #410
![image](https://user-images.githubusercontent.com/73652194/146507738-db09ba6c-d318-4231-8280-3d51a0328825.png)

Hey, This is how it looks, I have also made it a bit responsive for mobile devices and resolved a problem related to the overflowing of certain elements.
If it's good to go, I'll push it right away.

[2021-12-17 12:16] 7saikat7 commented on #409
go for it !

[2021-12-17 12:23] 7saikat7 opened #411 "Add a upload image feature in website"
you have to build a feature to let the users upload images and save it , later on the project we will be working with this uploaded image so keep it in mind.
Image models will have fields like , image,name,date-uploaded etc.

[2021-12-17 14:48] ankitapuri commented on #410
@AryanShinde can u please delete one shade of pink bcoz its too much pinkish now

[2021-12-17 15:02] AryanShinde commented on #410
![image](https://user-images.githubusercontent.com/73652194/146564264-e30976ef-52f4-432d-b5ee-dab66bd38bc5.png)
How 'bout this? @ankitapuri

[2021-12-17 15:40] Amanmawar17 commented on #405
@ankitapuri it's password is still not working with normal i'ds please resolve this issue

[2021-12-17 15:54] 7saikat7 commented on #410
@AryanShinde just a suggestion, try adding green in place of that yellow box or
 else it's looking fine

[2021-12-17 16:37] ankitapuri commented on #405
@arpit456jain can u please look into it.

[2021-12-17 17:49] arpit456jain commented on #405
ok

[2021-12-17 18:00] AryanShinde commented on #410
![image](https://user-images.githubusercontent.com/73652194/146588225-9a47abb2-172b-4489-aa6a-f98adb130890.png)

![image](https://user-images.githubusercontent.com/73652194/146587970-f1f15d1a-88cc-4962-a592-75978654b7c3.png)
which one Should I push then? @ankitapuri @7saikat7

[2021-12-17 18:32] arpit456jain commented on #405
@ankitapuri @Amanmawar17 i had checked the login functionality its working fine from my side

https://user-images.githubusercontent.com/55352601/146591574-15764a12-b071-48d6-92e7-6cdde2d5aca6.mp4

[2021-12-17 18:33] arpit456jain commented on #405
@Amanmawar17 please share a video where u r getting problem

[2021-12-18 06:20] ankitapuri commented on #405
@Amanmawar17 its working fine for me too

[2021-12-18 06:21] ankitapuri commented on #410
green one @AryanShinde

[2021-12-18 10:30] shreyjha2309 commented on #411
I'll try to do this one

[2021-12-18 10:43] Amanmawar17 commented on #405
@ankitapuri @arpit456jain  Yeah its working i send pull request till 7.30 in evening (Today)

[2021-12-18 18:20] RishiKumarRay commented on #409
HEY , my friend worked on this , he will be creating a PR , Please do check and let us know if there's any issue

[2021-12-18 18:20] rishvantsingh commented on #409
Yes , I have worked on it and will generate the PR right now.

[2021-12-20 19:12] #410 closed, assigned to AryanShinde

[2021-12-21 15:13] #409 closed, assigned to RishiKumarRay

[2021-12-22 14:50] shreyjha2309 commented on #411
Fixes #411

[2021-12-22 16:02] gayatrisingh31 opened #415 "cannot sign with google and facebook"
when we sign with google  this project show us DoesNotExist at /accounts/google/login/
and second issue is sign with facebook when we sign with facebook it show us DoesNotExist at /accounts/facebook/login/
may I resolve this issues?

[2021-12-23 12:01] ankitapuri commented on #415
@gayatrisingh31 sign in with google is working try doing it again by forking in once again . And facebook one is not done yet.

[2021-12-25 04:24] RishiKumarRay opened #416 "Add a Docker Compose File"
I see a Docker File here, I would like to add on Docker-Compose file , then it would be more convenient to start this application in container, with just one command. Should I go for it, If you want?

[2021-12-25 10:35] 7saikat7 commented on #416
It's a valid issue, that's why I am assigning you cause participants can't create issues.So please consider discussing issues on discord first then we will create them for u.

1.Add docker.yml properly.
2.Add a screenshot of the image this project running on docker in the PR

[2021-12-25 10:36] #415 closed, assigned to nobody

[2021-12-25 10:47] 7saikat7 commented on #416
you are participating through swoc right ?

[2021-12-25 12:21] RishiKumarRay commented on #416
No, I came to Know about this project while searching and sorry for not discussing this on Discord First, I will remember this for next time.

[2021-12-25 15:48] 7saikat7 commented on #416
It's ok , actually, these issues are under swoc , so as of now I am unassigning you ,later you can work on this project

[2021-12-25 15:50] #416 closed

[2021-12-25 17:51] RishiKumarRay commented on #416
Ok, one thing i would like to ask, Is registeration still open for swoc and can i work on this issue after getting registered? Just asking

[2021-12-26 16:47] ankitapuri commented on #416
no its currently closed

[2021-12-27 15:49] 7saikat7 commented on #416
It's closed ...there will be one more open source in Jan named JGOC or Jwoc
so u can participate

On Sun, 26 Dec, 2021, 10:17 pm Ankita Puri, ***@***.***>
wrote:

[2022-01-04 15:31] 7saikat7 commented on #411
@shreyjha2309  are you working on it ?? on new pr?

[2022-01-04 15:36] shreyjha2309 commented on #411
Yes, yes. College restarted and some other stuff so was busy a bit, will be working soon

[2022-01-06 03:38] 7saikat7 commented on #411
actually, this feature is there named Gallary,you can check it out so u can modify the model, link it with the Primary key with the logged-in user , rather than implementing a totally new one

[2022-01-06 09:51] shreyjha2309 commented on #411
ahh alright I also thought the same, I'll remove the new model then

[2022-01-15 10:17] 7saikat7 opened #417 "Host the website"
**Screenshots**
If applicable, add screenshots to help explain your problem.
Host the website on any platform like [pythonanywhere.com ](https://www.pythonanywhere.com/) , and share a link .

[2022-02-04 14:34] Bikramjit21 commented on #417
Can anyone assign me this?

[2022-02-04 18:15] ankitapuri commented on #417
@Bikramjit21 where will u host

[2022-02-04 18:31] Bikramjit21 commented on #417
on firebase!

On Fri, 4 Feb, 2022, 11:45 pm Ankita Puri, ***@***.***> wrote:

[2022-02-06 05:30] ankitapuri commented on #417
okkk @Bikramjit21

[2022-02-28 03:02] Bikramjit21 commented on #417
@ankitapuri  for hosting the website I have to fork the repo or have to do the original repo?

[2022-02-28 04:14] ankitapuri commented on #417
fork it

[2022-02-28 05:06] Bikramjit21 commented on #417
and what are the static files? static and template folder?

[2022-02-28 05:36] 7saikat7 commented on #417
Static files are in the static folder and the templates are in the template directory as per standard Django file structure

[2022-02-28 11:03] Bikramjit21 commented on #417
I am having this issue, can anyone help?
![migration](https://user-images.githubusercontent.com/59973867/155972386-4203653d-8537-4f73-9aa1-197f0db640f4.png)

[2022-02-28 14:15] 7saikat7 commented on #417
Please communicate in discord for better conversation